/*
sass --watch C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\scss\main.scss C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\templates\static\css\main.css
*/
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
.btn:focus,
.btn:active,
select:focus,
select:active {
  box-shadow: none !important;
  outline: none !important;
}

html {
  width: 100vw !important;
}

body {
  font-weight: 400 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden !important;
  /*appsgif para cel*/
  /*animation*/
}
body p {
  text-align: justify !important;
  text-justify: inter-word !important;
}
body hr {
  border: 2px solid #5c142c;
  background-color: #5c142c !important;
  border-radius: 5px;
}
body a {
  color: #5c142c;
}
body a:hover {
  color: #461022;
}
body input:focus {
  border: 1px solid #5c142c !important;
  box-shadow: none !important;
}
body .btn-outline-warning {
  color: white;
  border: 0;
  background: #5c142c !important;
}
body .btn-outline-warning:hover {
  background: #461022 !important;
  border: 0;
  color: white;
}
body .btn-outline-dark {
  border: 0 !important;
}
body nav {
  font-size: 1.2em;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 736px) {
  body nav {
    height: 8vh;
  }
}
@media screen and (min-width: 736px) {
  body nav {
    height: 10vh;
  }
}
body nav #lang-mov {
  border-radius: 5px;
  color: #461022;
  background: white;
  padding: 0;
}
body nav #lang-mov #navbarDropdownLang {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav #lang-mov #navbarDropdownLang-mov img,
body nav #lang-mov .dropdown-menu img {
  width: 1.5em;
  margin-right: 0.1em;
}
body nav #lang-mov:hover a {
  text-decoration: none !important;
}
body nav #lang-mov #navbarDropdownLang-mov {
  padding: 0 0.3em 0 0.3em;
}
body nav .navbar-nav .nav-item .clientes-btn:hover {
  color: whitesmoke !important;
}
body nav .navbar-nav .nav-item#lang {
  border-radius: 5px;
  font-size: smaller !important;
  color: #461022;
  background: white;
  margin: 0 0.5em 0 0.5em !important;
}
body nav .navbar-nav .nav-item#lang:hover {
  cursor: pointer;
}
body nav .navbar-nav .nav-item#lang #navbarDropdownLang {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav .navbar-nav .nav-item#lang #navbarDropdownLang,
body nav .navbar-nav .nav-item#lang .dropdown-menu {
  padding: 0.1 !important;
}
body nav .navbar-nav .nav-item#lang #navbarDropdownLang img,
body nav .navbar-nav .nav-item#lang .dropdown-menu img {
  width: 1.5em;
  margin-right: 0.3em;
}
body nav .navbar-nav .nav-item#lang:hover a {
  text-decoration: none !important;
}
@media screen and (max-width: 736px) {
  body nav .navbar-collapse {
    background: white !important;
    border-radius: 5px !important;
    padding-top: 1em !important;
    margin-top: 1em !important;
    font-size: smaller !important;
    font-weight: 600;
    padding-left: 1em;
  }
  body nav .navbar-collapse .btn {
    width: 95% !important;
    margin: 1em 0 1em 0;
  }
}
body nav .navbar-toggler {
  border: none;
}
body nav .navbar-toggler:focus {
  box-shadow: none !important;
}
body nav .navbar-toggler .navbar-toggler-icon {
  background: url("../img/svg/list.svg") !important;
  background-size: cover !important;
}
body nav .active {
  color: #5c142c;
  font-weight: 600 !important;
}
body nav ul li {
  color: black !important;
}
body #navbar-effect #navbar #navbar-1-ul li a,
body #navbar-effect #navbar #navbar-1-ul a,
body #navbar-effect #navbar #-navbar-1-ul li a,
body #navbar-effect #navbar #-navbar-1-ul a,
body #navbar-effect #navbar #navbar-2-ul li a,
body #navbar-effect #navbar #navbar-2-ul a,
body #navbar-effect #navbar #-navbar-2-ul li a,
body #navbar-effect #navbar #-navbar-2-ul a,
body #navbar-effect #navbar-2 #navbar-1-ul li a,
body #navbar-effect #navbar-2 #navbar-1-ul a,
body #navbar-effect #navbar-2 #-navbar-1-ul li a,
body #navbar-effect #navbar-2 #-navbar-1-ul a,
body #navbar-effect #navbar-2 #navbar-2-ul li a,
body #navbar-effect #navbar-2 #navbar-2-ul a,
body #navbar-effect #navbar-2 #-navbar-2-ul li a,
body #navbar-effect #navbar-2 #-navbar-2-ul a,
body #navbar-effect-2 #navbar #navbar-1-ul li a,
body #navbar-effect-2 #navbar #navbar-1-ul a,
body #navbar-effect-2 #navbar #-navbar-1-ul li a,
body #navbar-effect-2 #navbar #-navbar-1-ul a,
body #navbar-effect-2 #navbar #navbar-2-ul li a,
body #navbar-effect-2 #navbar #navbar-2-ul a,
body #navbar-effect-2 #navbar #-navbar-2-ul li a,
body #navbar-effect-2 #navbar #-navbar-2-ul a,
body #navbar-effect-2 #navbar-2 #navbar-1-ul li a,
body #navbar-effect-2 #navbar-2 #navbar-1-ul a,
body #navbar-effect-2 #navbar-2 #-navbar-1-ul li a,
body #navbar-effect-2 #navbar-2 #-navbar-1-ul a,
body #navbar-effect-2 #navbar-2 #navbar-2-ul li a,
body #navbar-effect-2 #navbar-2 #navbar-2-ul a,
body #navbar-effect-2 #navbar-2 #-navbar-2-ul li a,
body #navbar-effect-2 #navbar-2 #-navbar-2-ul a {
  color: #5c142c;
  font-weight: 600;
}
body #navbar-effect #navbar #navbar-1-ul li a:hover,
body #navbar-effect #navbar #navbar-1-ul a:hover,
body #navbar-effect #navbar #-navbar-1-ul li a:hover,
body #navbar-effect #navbar #-navbar-1-ul a:hover,
body #navbar-effect #navbar #navbar-2-ul li a:hover,
body #navbar-effect #navbar #navbar-2-ul a:hover,
body #navbar-effect #navbar #-navbar-2-ul li a:hover,
body #navbar-effect #navbar #-navbar-2-ul a:hover,
body #navbar-effect #navbar-2 #navbar-1-ul li a:hover,
body #navbar-effect #navbar-2 #navbar-1-ul a:hover,
body #navbar-effect #navbar-2 #-navbar-1-ul li a:hover,
body #navbar-effect #navbar-2 #-navbar-1-ul a:hover,
body #navbar-effect #navbar-2 #navbar-2-ul li a:hover,
body #navbar-effect #navbar-2 #navbar-2-ul a:hover,
body #navbar-effect #navbar-2 #-navbar-2-ul li a:hover,
body #navbar-effect #navbar-2 #-navbar-2-ul a:hover,
body #navbar-effect-2 #navbar #navbar-1-ul li a:hover,
body #navbar-effect-2 #navbar #navbar-1-ul a:hover,
body #navbar-effect-2 #navbar #-navbar-1-ul li a:hover,
body #navbar-effect-2 #navbar #-navbar-1-ul a:hover,
body #navbar-effect-2 #navbar #navbar-2-ul li a:hover,
body #navbar-effect-2 #navbar #navbar-2-ul a:hover,
body #navbar-effect-2 #navbar #-navbar-2-ul li a:hover,
body #navbar-effect-2 #navbar #-navbar-2-ul a:hover,
body #navbar-effect-2 #navbar-2 #navbar-1-ul li a:hover,
body #navbar-effect-2 #navbar-2 #navbar-1-ul a:hover,
body #navbar-effect-2 #navbar-2 #-navbar-1-ul li a:hover,
body #navbar-effect-2 #navbar-2 #-navbar-1-ul a:hover,
body #navbar-effect-2 #navbar-2 #navbar-2-ul li a:hover,
body #navbar-effect-2 #navbar-2 #navbar-2-ul a:hover,
body #navbar-effect-2 #navbar-2 #-navbar-2-ul li a:hover,
body #navbar-effect-2 #navbar-2 #-navbar-2-ul a:hover {
  text-decoration: underline;
}
body #navbar-effect #navbar .dropdown-menu,
body #navbar-effect #navbar-2 .dropdown-menu,
body #navbar-effect-2 #navbar .dropdown-menu,
body #navbar-effect-2 #navbar-2 .dropdown-menu {
  padding: 0;
  background: whitesmoke !important;
}
body #navbar-effect #navbar .dropdown-menu .dropdown-item:hover,
body #navbar-effect #navbar-2 .dropdown-menu .dropdown-item:hover,
body #navbar-effect-2 #navbar .dropdown-menu .dropdown-item:hover,
body #navbar-effect-2 #navbar-2 .dropdown-menu .dropdown-item:hover {
  color: white !important;
  background: rgba(70, 16, 34, 0.6);
}
body #navbar-effect #navbar .dropdown-menu .dropdown-item:focus,
body #navbar-effect #navbar .dropdown-menu .dropdown-item:active,
body #navbar-effect #navbar-2 .dropdown-menu .dropdown-item:focus,
body #navbar-effect #navbar-2 .dropdown-menu .dropdown-item:active,
body #navbar-effect-2 #navbar .dropdown-menu .dropdown-item:focus,
body #navbar-effect-2 #navbar .dropdown-menu .dropdown-item:active,
body #navbar-effect-2 #navbar-2 .dropdown-menu .dropdown-item:focus,
body #navbar-effect-2 #navbar-2 .dropdown-menu .dropdown-item:active {
  background: #461022 !important;
}
body #navbar-effect #navbar .dropdown-menu.show,
body #navbar-effect #navbar-2 .dropdown-menu.show,
body #navbar-effect-2 #navbar .dropdown-menu.show,
body #navbar-effect-2 #navbar-2 .dropdown-menu.show {
  animation: side-appear 200ms ease-in-out;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 736px) {
  body #navbar-effect #navbar #-navbar-1-ul,
body #navbar-effect #navbar-2 #-navbar-1-ul,
body #navbar-effect-2 #navbar #-navbar-1-ul,
body #navbar-effect-2 #navbar-2 #-navbar-1-ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
body #initial-effect {
  background: #f8f9fa;
  background: linear-gradient(0deg, #f8f9fa 0%, rgba(145, 19, 61, 0.1) 100%);
}
body #initial-effect .bg-light {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2) !important;
}
body .trans-effect {
  background: white !important;
}
body #appsgifcelcontainer {
  height: 27vh;
}
body #appsgifcelcontainer #appsgifcel .wrapper {
  padding: 0;
}
body #appsgifcelcontainer #appsgifcel .wrapper > * {
  position: absolute;
}
body #appsgifcelcontainer #appsgifcel .wrapper#laptop-wrapper-cel #laptop-image-cel {
  top: 0;
  left: 0;
  filter: drop-shadow(2px 7px 4px rgba(0, 0, 0, 0.2));
  width: 90%;
  height: 25vh;
}
body #appsgifcelcontainer #appsgifcel .wrapper#laptop-wrapper-cel #laptop-content-cel {
  top: 1vh;
  left: 10%;
  width: 70%;
  height: 21.5vh;
  border-radius: 5px;
}
body #appsgifcelcontainer #appsgifcel .wrapper#phone-wrapper-cel {
  transform: translateY(-6vh);
  left: 5%;
}
body #appsgifcelcontainer #appsgifcel .wrapper#phone-wrapper-cel #phone-image-cel {
  left: 45%;
  top: 5vh;
  width: 70%;
  height: 30vh;
  filter: drop-shadow(2px 7px 3px rgba(0, 0, 0, 0.2));
}
body #appsgifcelcontainer #appsgifcel .wrapper#phone-wrapper-cel #phone-content-cel {
  top: 8.3vh;
  left: 67.3%;
  height: 23vh;
  width: 25.3%;
  border-radius: 5px;
}
body #home {
  display: flex;
  height: 100vh;
}
@media screen and (max-width: 736px) {
  body #home {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 736px) {
  body #home #companydesc {
    margin-top: 10vh !important;
  }
  body #home #appsgif {
    margin-top: 10vh !important;
    margin-left: 1vw;
    width: 500px;
    height: 500px;
  }
  body #home #appsgif .wrapper {
    padding: 0;
  }
  body #home #appsgif .wrapper > * {
    position: absolute;
  }
  body #home #appsgif .wrapper#laptop-wrapper {
    margin-top: 15vh;
  }
  body #home #appsgif .wrapper#laptop-wrapper #laptop-image {
    filter: drop-shadow(2px 7px 4px rgba(0, 0, 0, 0.2));
  }
  body #home #appsgif .wrapper#laptop-wrapper #laptop-content {
    border-radius: 5px;
    width: 385px;
    height: 240px;
    top: 15px;
    left: 11.5%;
  }
  body #home #appsgif .wrapper#phone-wrapper {
    top: 20px;
    left: 60%;
  }
  body #home #appsgif .wrapper#phone-wrapper #phone-image {
    width: 350px;
    filter: drop-shadow(2px 7px 3px rgba(0, 0, 0, 0.2));
    height: 350px;
  }
  body #home #appsgif .wrapper#phone-wrapper #phone-content {
    border-radius: 5px;
    left: 22.2%;
    top: 40px;
    height: 265px;
    width: 127px;
  }
}
body #home #companydesc {
  animation: upper-show 1s ease-in-out;
  animation-fill-mode: forwards;
}
body #home #startnow input {
  border: 0;
}
body #home #startnow input:focus,
body #home #startnow input:active {
  border: 1.5px solid #5c142c;
}
body #home #startnow input::placeholder {
  color: #6c757d !important;
  opacity: 0.7;
}
body #home #startnow input:-ms-input-placeholder {
  color: #6c757d !important;
}
body #home #startnow input::-ms-input-placeholder {
  color: #6c757d !important;
}
body #home #startnow button,
body #home #startnow input {
  height: 5vh !important;
}
body #inicia ol {
  transform: translateY(-50vh);
  margin: 0;
  height: 10vh;
}
body #inicia ol li {
  transition: all 200ms ease-in-out;
  text-align: center;
  width: 15vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  text-indent: unset;
  background: none;
  color: black;
}
body #inicia ol li span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 3em;
  z-index: 9999;
  padding: 1em;
  width: 10vw !important;
  padding: 0;
  border-radius: 5px;
  background: lightgray !important;
}
body #inicia ol li .icon_item {
  display: none;
}
body #inicia ol .active .icon_item {
  display: block;
  animation: aol 250ms ease-in-out;
  animation-fill-mode: forwards;
}
body #inicia ol .active .icon_item img {
  width: 3em;
  height: 3em;
}
body #inicia ol .active span {
  background: #5c142c !important;
  color: white !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
body #inicia .carousel-inner {
  transform: translateY(0);
}
body #inicia .carousel-inner h4 {
  font-weight: 600 !important;
  color: #461022;
}
body #inicia .carousel-inner .carousel-item .card-deck {
  height: 40vh !important;
  width: 100% !important;
}
body #inicia .carousel-inner .carousel-item .card-deck .card {
  height: 100%;
}
body #inicia .carousel-inner .carousel-item .card-deck .card .card-body img {
  height: 100% !important;
  width: 100% !important;
}
body #portfolio .card-deck .card {
  background: none;
  border: none;
}
body #portfolio .card-deck .card .card-header {
  padding: 0 !important;
}
body #portfolio .card-deck .card .btn-outline-dark {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
@media screen and (max-width: 736px) {
  body #portfolio .card-deck .card .btn-outline-dark {
    padding: 1.5em;
  }
}
body #portfolio .card-deck .card .btn-outline-dark p {
  font-size: 1.1em !important;
}
@media screen and (min-width: 736px) {
  body #portfolio .card-deck .card .btn-outline-dark .arrow {
    padding: 1em;
  }
}
body #portfolio .card-deck .card .btn-outline-dark:hover {
  color: #343a40;
}
@media screen and (min-width: 736px) {
  body #portfolio .card-deck .card .btn-outline-dark:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background: rgba(70, 16, 34, 0.2) !important;
  }
}
body #portfolio .card-deck .card .btn-outline-dark:hover .arrow {
  animation: side-appear 500ms ease-in-out;
  animation-fill-mode: forwards;
}
body #portfolio .card-deck .card .arrow {
  transform: scaley(-1);
  opacity: 0;
}
body #prices {
  transition: all 200ms ease-in-out;
}
@media screen and (max-width: 736px) {
  body #prices {
    padding: 0;
    height: auto;
    margin-top: 3em;
  }
}
@media screen and (min-width: 736px) {
  body #prices {
    margin-top: 20vh;
    padding: 1em 5em 5em 5em;
    height: 100vh;
  }
  body #prices .card-deck {
    height: 85vh !important;
  }
}
@media screen and (max-width: 736px) {
  body #prices .card-deck #price_1,
body #prices .card-deck #price_2 {
    min-height: 60vh !important;
  }
}
body #prices .btn-link {
  text-decoration: none;
  color: black;
  align-items: center;
}
body #prices .badge {
  height: 2.5em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #prices .badge a {
  display: inline-block;
  pointer-events: none !important;
  color: lightgray;
  transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
}
body #prices .badge a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: calc(50%);
  right: 0;
  background: white;
  transition: inherit;
}
body #prices #price_1 .badge a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
}
@media screen and (min-width: 736px) {
  body #prices:hover #price_1 {
    transition: all 500ms ease-in-out;
    transform: scale(0.9);
  }
  body #prices:hover #price_2 {
    transition: all 500ms ease-in-out;
    transform: scale(1.1);
  }
}
body #prices #price_1 {
  border: none;
}
body #prices #price_1 .card-body {
  padding: 0.5em;
}
body #prices #price_1 .card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5em;
}
body #prices #price_1 .card-footer {
  background: #461022;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body #prices #price_1 #accordion1 {
  font-size: 1em !important;
}
body #prices #price_1 #accordion1 .card-header {
  border-radius: 0;
  background: lightgrey;
}
body #prices #price_2 {
  border: none;
}
body #prices #price_2 .card-body {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
}
body #prices #price_2 .card-footer {
  background: radial-gradient(circle, #8c2649 0%, #4b1326 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body #nuestroservicio .lead {
  text-align: initial !important;
}
body #nuestroservicio .service-header {
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
}
body #nuestroservicio .card {
  background: none;
  border: 0;
}
body #nuestroservicio .card .list-group li {
  background: none;
  border: none;
}
body #nuestroservicio .area {
  position: absolute;
  background: #f8f9fa;
  width: 100%;
  height: 100%;
  z-index: -9999;
}
body #nuestroportal .banner {
  height: 60vh !important;
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
  border: 0 !important;
}
body #nuestroportal .line-through {
  text-align: center;
  position: relative;
}
body #nuestroportal .line-through:before, body #nuestroportal .line-through:after {
  content: "";
  display: block;
  height: 3px;
  border-radius: 5px;
  background: #5c142c;
  top: 50%;
  position: absolute;
}
@media screen and (max-width: 736px) {
  body #nuestroportal .line-through:before, body #nuestroportal .line-through:after {
    width: 30%;
  }
}
@media screen and (min-width: 736px) {
  body #nuestroportal .line-through:before, body #nuestroportal .line-through:after {
    width: 40%;
  }
}
body #nuestroportal .line-through:after {
  right: 0;
}
body #nuestroportal .line-through:before {
  left: 0;
}
body #nuestroportal .card .card-header,
body #nuestroportal .card .card-footer {
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
  border: 0 !important;
}
body #nuestroportal .card .card-body {
  border: 2px solid #461022;
  border-radius: 5px;
}
body #nuestroportal .card .card-body img {
  border-radius: 5px;
}
body #quienessomos .cover {
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
}
body #quienessomos #ivan {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2) !important;
  border: 2px solid #5c142c;
  background-image: url("../img/photo/ivan.jpg");
  background-size: cover;
  background-position: 65% 75%;
  background-repeat: no-repeat;
  height: 15em;
  width: 15em;
  border-radius: 50%;
}
@media screen and (max-width: 736px) {
  body #quienessomos #md-container {
    display: none !important;
  }
}
body #nosotros .accordion {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
}
@media screen and (max-width: 736px) {
  body #nosotros .accordion {
    width: 90%;
  }
}
@media screen and (min-width: 736px) {
  body #nosotros .accordion {
    width: 85%;
  }
}
body #nosotros .accordion .card .card-header {
  background: #461022;
  background: radial-gradient(circle, rgba(70, 16, 34, 0.1) 0%, rgba(70, 16, 34, 0.2) 100%);
}
body #nosotros .accordion .card .card-header p {
  text-align: initial !important;
}
body #nosotros .accordion .card .card-header .btn {
  text-decoration: none;
  color: #343a40;
}
body #nosotros .accordion .card .card-header .btn img {
  width: 2em;
  transition: all 300ms ease-in-out;
  transform: rotate(-90deg);
}
body #nosotros .accordion .card .card-header .collapsed img {
  transform: rotate(90deg);
}
body #nosotros .accordion .card .card-body a {
  text-decoration: none;
  color: black;
}
body #page-footer {
  background: radial-gradient(circle, #8c2649 0%, #4b1326 100%) !important;
}
body #page-footer #copyright {
  text-align: center !important;
}
body #page-footer ul {
  font-size: 0.9em !important;
  text-align: start !important;
}
body #page-footer a {
  text-decoration: none;
  color: lightpink;
}
body #page-footer a:hover {
  color: whitesmoke !important;
}
body #contact h1 {
  color: #5c142c !important;
  font-weight: 600 !important;
}
body #contact a {
  color: #5c142c;
}
body #contact a:hover {
  color: #461022 !important;
}
body #contact #contact-form {
  color: black;
  animation: upper-show 500ms ease-in-out;
  animation-fill-mode: forwards;
}
body #contact #contact-form label {
  padding: 0;
  text-align: end;
  margin-right: 1em;
  margin-bottom: 0;
}
body #contact #contact-form .col {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #ourplans .card-deck p {
  text-align: center !important;
}
@media screen and (max-width: 736px) {
  body #ourplans {
    margin-top: 5em !important;
    height: auto !important;
  }
}
body #ourplans a {
  color: whitesmoke !important;
}
body #ourplans .card-header {
  color: whitesmoke !important;
  font-weight: 600 !important;
}
body #ourplans ul li {
  background: none;
  color: whitesmoke;
  padding: 0.2em 0 0.2em 0 !important;
}
@media screen and (max-width: 736px) {
  body #ourplans .card-deck .card {
    margin: 1em 1em 1em 1em !important;
  }
}
body #ourplans #basic_pck {
  animation: aol 500ms ease-in-out;
  animation-fill-mode: forwards;
}
body #ourplans #basic_pck .card-header,
body #ourplans #basic_pck .card-footer {
  background: radial-gradient(circle, #528f28 0%, #345e17 100%);
}
body #ourplans #basic_pck .card-title {
  color: radial-gradient(circle, #528f28 0%, #345e17 100%);
}
body #ourplans #pro_pck {
  animation: aol 500ms ease-in-out;
  animation-fill-mode: forwards;
}
body #ourplans #pro_pck .card-header,
body #ourplans #pro_pck .card-footer {
  background: radial-gradient(circle, #8c2649 0%, #4b1326 100%);
}
body #ourplans #pro_pck .card-title {
  color: radial-gradient(circle, #8c2649 0%, #4b1326 100%);
}
body #ourplans #enter_pck {
  animation: aol 500ms ease-in-out;
  animation-fill-mode: forwards;
}
body #ourplans #enter_pck .card-header,
body #ourplans #enter_pck .card-footer {
  background: radial-gradient(circle, #28348f 0%, #151a47 100%);
}
body #ourplans #enter_pck .card-title {
  color: black;
}
@media screen and (max-width: 736px) {
  body #thanks #md-thanks {
    display: none !important;
  }
}
@media screen and (min-width: 736px) {
  body #thanks #sm-thanks {
    display: none !important;
  }
}
@media screen and (max-width: 736px) {
  body #underconstruction #uc-md {
    display: none !important;
  }
}
@media screen and (min-width: 736px) {
  body #underconstruction #uc-sm {
    display: none !important;
  }
}
body #terms p {
  text-align: justify;
  text-justify: inter-word;
}
body #whatsapp {
  z-index: 4;
  position: fixed;
  width: 250px;
}
body #whatsapp.animate {
  animation: side-appear 1500ms ease-in-out;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 736px) {
  body #whatsapp {
    bottom: 10px;
    right: 0;
  }
}
@media screen and (min-width: 736px) {
  body #whatsapp {
    bottom: 20px;
    right: 0 !important;
  }
  body #whatsapp img {
    height: 4em !important;
  }
}
body #whatsapp #banner {
  background-color: #461022 !important;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 600 !important;
  display: none;
}
body #whatsapp.banner-active #banner {
  display: block;
  animation: 350ms side-appear ease-in-out;
  animation-fill-mode: forwards;
}
body #contact .area,
body #thanks .area,
body #underconstruction .area,
body #ourplans .area {
  position: fixed;
  background: whitesmoke;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body #contact .circles,
body #thanks .circles,
body #underconstruction .circles,
body #ourplans .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #contact .circles li,
body #thanks .circles li,
body #underconstruction .circles li,
body #ourplans .circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(70, 16, 34, 0.1);
  animation: animate 10s linear infinite;
  bottom: -150px;
}
body #contact .circles li:nth-child(1),
body #thanks .circles li:nth-child(1),
body #underconstruction .circles li:nth-child(1),
body #ourplans .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
body #contact .circles li:nth-child(2),
body #thanks .circles li:nth-child(2),
body #underconstruction .circles li:nth-child(2),
body #ourplans .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
body #contact .circles li:nth-child(3),
body #thanks .circles li:nth-child(3),
body #underconstruction .circles li:nth-child(3),
body #ourplans .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
body #contact .circles li:nth-child(4),
body #thanks .circles li:nth-child(4),
body #underconstruction .circles li:nth-child(4),
body #ourplans .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
body #contact .circles li:nth-child(5),
body #thanks .circles li:nth-child(5),
body #underconstruction .circles li:nth-child(5),
body #ourplans .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
body #contact .circles li:nth-child(6),
body #thanks .circles li:nth-child(6),
body #underconstruction .circles li:nth-child(6),
body #ourplans .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
body #contact .circles li:nth-child(7),
body #thanks .circles li:nth-child(7),
body #underconstruction .circles li:nth-child(7),
body #ourplans .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
body #contact .circles li:nth-child(8),
body #thanks .circles li:nth-child(8),
body #underconstruction .circles li:nth-child(8),
body #ourplans .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
body #contact .circles li:nth-child(9),
body #thanks .circles li:nth-child(9),
body #underconstruction .circles li:nth-child(9),
body #ourplans .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
body #contact .circles li:nth-child(10),
body #thanks .circles li:nth-child(10),
body #underconstruction .circles li:nth-child(10),
body #ourplans .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes aol {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes upper-show {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes side-appear {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(2px);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
