
/*
sass --watch C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\scss\main.scss C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\templates\static\css\main.css
*/

$sec-font-color: rgb(255, 212, 212);
$background-main: rgb(245, 156, 156);
$background-sec: rgb(95, 24, 48, 0.6);
$glow: rgb(245, 156, 156, 0.7);
$_background_grad: radial-gradient(circle, rgba(255,218,213,1) 0%, rgba(255,255,255,1) 100%);
//$test_color: rgb(95, 24, 48);
// hex test #53182C
$test_color_plain: rgb(83, 24, 44);
$test_color_hover: rgb(70, 16, 34);
$test_color: radial-gradient(circle, rgba(140,38,73,1) 0%, rgba(75,19,38,1) 100%); 


@keyframes grow{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}



body{
    font-weight: 400 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    hr{
        border: 2px solid $test_color_plain;
        border-radius: 5px;        
    }
    input:focus{
        border: 1px solid $test_color !important;
        box-shadow: none !important;
    }
    .btn-outline-warning{
        color: white;
        border: 0;
        background: $test_color_plain !important;
    }
    .btn-outline-warning:hover{
        background: $test_color_hover !important;        
        border: 0;
        color: white;
    }
    .btn-outline-dark{
        border: 0 !important;

    }
    nav{
        font-size: 1.2em;
        transition: all 1s ease-in-out;
        color: white !important;        
    }
    #initial-effect{
        background: linear-gradient(180deg, rgba(221,176,176,1) 0%, rgba(248,249,250,1) 80%) !important;
        .bg-light{
            box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2) !important;
        }
    }
    .trans-effect{        
        background: white !important;
    }
    #home{
        display: flex;
        #companylogo{
            animation: upper-show 0.8s ease-in-out;
            animation-fill-mode: forwards;
        }
        #companydesc{
            animation: upper-show 1s ease-in-out;
            animation-fill-mode: forwards;
        }
        #startnow{
            animation: upper-show 1.2s ease-in-out;
            animation-fill-mode: forwards;            
            input{
                border: 1px solid $test_color_plain;                
            }
        }
    }
    #processing{
        ol{
            transform: translateY(-50vh);
            margin: 0;
            height: 10vh;
            li{
                transition: all 200ms ease-in-out;
                text-align: center;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                font-weight: bolder;
                text-indent: unset;
                background: none;
                color: black;
                span{
                    color: black !important;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
                    height: 3em;
                    z-index: 9999;
                    width: 10vw !important;
                    padding: 0.7em 0.5em 0 0.5em;
                    border-radius: 5px;
                    background: lightgray !important;
                }
                .icon_item{
                    display: none;
                }
            }
            .active{
                .icon_item{
                    display: block;
                    animation: aol 250ms ease-in-out;
                    animation-fill-mode: forwards;
                    img{
                        width: 3em;
                        height: 3em;
                    }
                }
                span{
                    background: $test_color_plain !important;
                    color: white !important;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                }   
                
            }
        }
        .carousel-inner{
            transform: translateY(0);
            h4{
                font-weight: 600 !important;
                color: $test_color_hover;
            }
            .carousel-item{
                .card-deck{
                    height: 40vh !important;
                    width: 100% !important;
                    .card{
                        height: 100%;
                        .card-body{
                            img{
                                height: 100% !important;
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }

    #portfolio{
        .card-deck{
            .card{
                background: none;
                border: none;
                .card-header{
                    padding: 0 !important;
                }
                .btn-outline-dark{
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
                    transition: 0.3s;                
                }
                .btn-outline-dark:hover{
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                    background: $glow !important;
                    color: #343a40;
                    .arrow{
                        animation: side-appear 500ms ease-in-out;
                        animation-fill-mode: forwards;
                    }
                }
                .arrow{
                    transform: scaley(-1);
                    opacity: 0;
                }
            }
        }    
    }
    #prices{
        transition: all 200ms ease-in-out;
        .btn-link{
            text-decoration: none;
            color: black;
        }
        .badge a{
            display: inline-block;
            pointer-events: none !important;
            color: lightgray;
            transition: all 0.25s cubic-bezier(1,0,0.58,0.97);
        }
        .badge a:before{
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            top: calc(50%);
            right: 0;
            background: white;
            transition: inherit;
        }
        #price_1 .badge a{
            display: inline-block;
            color: white;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(1,0,0.58,0.97);
        }
    
        &:hover #price_1 .badge a:before{
            //left: 0;
            //width: 100%;
        }
        &:hover{
            #price_1{
                transition: all 500ms ease-in-out;
                transform: scale(0.9);
            }
            #price_2{
                transition: all 500ms ease-in-out;
                transform: scale(1.1);
            }
        }

        #price_1{
            border: none;
            .card-body{
                padding: 0.5em ;
            }
            .card-header{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                padding: 0.5em;
            }
            .card-footer{
                background: $test_color_hover;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            #accordion1{
                font-size: 0.9em;
                .show{
                }        
                .card-header{
                    border-radius: 0;
                    background: lightgrey;
                }
            }
        }
        #price_2{
            border: none;
            .card-body{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .card-footer{
                background: $test_color;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
    #ourservices{
        .card{
            background: none;
            border: 0;            
            .list-group{
                li{
                    background: none;
                    border: none;
                }
            }
            img{
            }
        }
    }
    #service-gd{
        dat{
            font-size: xx-large;
        }
        .card-deck{
            height: 70vh;
            .card{
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .img1{
                background: url('../img/photo/expo1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;

            }
            .img2{
                background: url('../img/photo/computer1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .img3{
                background: url('../img/photo/notebook2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .img4{
                background: url('../img/photo/developer2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
            .img5{
                background: url('../img/photo/notebook3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-attachment: fixed;
            }
        }

    }
    #contactus{
        background: $test_color !important;
        ul{
            font-size: 0.9em;
            text-align: start !important;
        }
    }
    #contact{
        overflow: hidden !important;
        #contact-form{
            border-radius: 5px;
            background: $test_color !important;
            color: white;
            animation: upper-show 500ms ease-in-out;
            animation-fill-mode: forwards;
            label{
                padding: 0;
                text-align: end;
                margin-right: 1em;
            }
            .col{
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}

@keyframes aol{
    0%{
        opacity: 0;
        transform: translateY(10px);        
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes upper-show{
    0%{
        opacity: 0;
        transform: translateY(20px);        
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes side-appear{
    0%{
        opacity: 0;
        transform: translateX(20px);        
    }
    50%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(2px);
        opacity: 1;
    }
}