
/*
sass --watch C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\scss\main.scss C:\Users\crist\Documents\GitHub\analiticaweb\application\frontend\templates\static\css\main.css
*/

$sec-font-color: rgb(255, 212, 212);
$background-main: rgb(245, 156, 156);
$background-sec: rgb(95, 24, 48, 0.1);
$glow: rgb(245, 156, 156, 0.7);
$_background_grad: radial-gradient(circle, rgba(255,218,213,1) 0%, rgba(255,255,255,1) 100%);
$test_color_hover: rgb(70, 16, 34); // hex test #53182C
$test_color_plain: rgb(92, 20, 44);
$test_color_trans: rgb(70, 16, 34, 0.6);
$test_color: radial-gradient(circle, rgba(140,38,73,1) 0%, rgba(75,19,38,1) 100%); 

@keyframes grow{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.btn:focus,
.btn:active,
select:focus,
select:active{
    box-shadow: none !important;
    outline: none !important;
}

html{
    width: 100vw !important;
}
body{
    font-weight: 400 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden !important;
    p{
        text-align: justify !important;  
        text-justify: inter-word !important;
    }
    hr{
        border: 2px solid $test_color_plain;
        background-color: $test_color_plain !important;
        border-radius: 5px;        
    }
    a{
        color: $test_color_plain;
    }
    a:hover{
        color: $test_color_hover;
    }
    input:focus{
        border: 1px solid $test_color_plain !important;
        box-shadow: none !important;
    }
    .btn-outline-warning{
        color: white;
        border: 0;
        background: $test_color_plain !important;
    }
    .btn-outline-warning:hover{
        background: $test_color_hover !important;        
        border: 0;
        color: white;
    }
    .btn-outline-dark{
        border: 0 !important;
    }
    nav{
        font-size: 1.2em;        
        transition: all 1s ease-in-out;        
        @media screen and(max-width: 736px) {
            height: 8vh;
        }
        @media screen and(min-width: 736px) {
            height: 10vh;
        }
        #lang-mov{              
            border-radius: 5px;
            color: $test_color_hover;
            background: white;
            padding: 0;
            #navbarDropdownLang{
                display: flex;
                align-items: center;
                justify-content: center;                        
            }
            #navbarDropdownLang-mov,
            .dropdown-menu{
                img{
                    width: 1.5em;
                    margin-right: 0.1em;
                }
            }    
            &:hover a{
                text-decoration: none !important;
            }
            #navbarDropdownLang-mov{
                padding: 0 0.3em 0 0.3em
            }    
        }
        .navbar-nav{
            .nav-item{
                .clientes-btn:hover{
                    color: whitesmoke !important;
                }
                &#lang{              
                    border-radius: 5px;
                    font-size:smaller !important;                
                    color: $test_color_hover;
                    background: white;
                    margin: 0 0.5em 0 0.5em !important;
                    &:hover{
                        cursor: pointer;
                    }
                    #navbarDropdownLang{
                        display: flex;
                        align-items: center;
                        justify-content: center;                        
                    }
                    #navbarDropdownLang,
                    .dropdown-menu{
                        padding: 0.1 !important;
                        img{
                            width: 1.5em;
                            margin-right: 0.3em;
                        }
                    }    
                    &:hover a{
                        text-decoration: none !important;
                    }    
                }
            }
        }
        .navbar-collapse{
            @media screen and(max-width: 736px) {
                background: rgba(255,255,255,1) !important;
                border-radius: 5px !important;
                padding-top: 1em !important;
                margin-top: 1em !important;
                font-size: smaller !important;
                font-weight: 600;
                padding-left: 1em;               
                .btn{
                    width: 95% !important;
                    margin: 1em 0 1em 0;
                }
            }            
        }
        .navbar-toggler{
            border: none;            
            &:focus{
                box-shadow: none !important;
            }
            .navbar-toggler-icon{
                background: url('../img/svg/list.svg') !important;
                background-size: cover !important;
            }            
        }
        .active{
            color: $test_color_plain;
            font-weight: 600 !important;;
        }
        ul{
            li{
                color: black !important;
            }
        }
    }
    #navbar-effect,
    #navbar-effect-2{
        #navbar,
        #navbar-2{        
            #navbar-1-ul,
            #-navbar-1-ul,
            #navbar-2-ul,
            #-navbar-2-ul{
                li a,
                a{
                    color: $test_color_plain;
                    font-weight: 600;
                }
                li a:hover,
                a:hover{
                    text-decoration: underline;
                }            
            }
            .dropdown-menu{
                padding: 0;
                background: whitesmoke !important;
                .dropdown-item{
                    &:hover{
                        color: white !important;
                        background: $test_color_trans;
                    }
                }
                .dropdown-item:focus,
                .dropdown-item:active{
                    background: $test_color_hover !important;
                }
                &.show{
                    animation: side-appear 200ms ease-in-out;
                    animation-fill-mode: forwards;
                }
            }    
            #-navbar-1-ul{
                @media screen and(min-width: 736px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }            
        }
    }
    #initial-effect{
        background: rgb(248,249,250);
        background: linear-gradient(0deg, rgba(248,249,250,1) 0%, rgba(145, 19, 61, 0.10) 100%); 
        .bg-light{
            box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2) !important;
        }
    }
    .trans-effect{        
        background: white !important;
    }
    /*appsgif para cel*/
    #appsgifcelcontainer{
        height: 27vh;            
        #appsgifcel{
            .wrapper{
                padding: 0;
                &>*{
                    position:absolute;
                }
                &#laptop-wrapper-cel{                    
                    #laptop-image-cel{
                        top: 0;
                        left: 0;
                        filter: drop-shadow(2px 7px 4px rgba(0,0,0,0.2));
                        width: 90%;
                        height: 25vh;
                    }
                    #laptop-content-cel{                        
                        top: 1vh;
                        left: 10%;
                        width: 70%;
                        height: 21.5vh;
                        border-radius: 5px;
                    }                                                
                }
                &#phone-wrapper-cel{
                    transform: translateY(-6vh);
                    left: 5%;
                    #phone-image-cel{
                        left: 45%;
                        top: 5vh;
                        width: 70%;
                        height: 30vh;
                        filter: drop-shadow(2px 7px 3px rgba(0,0,0,0.2));
                    }
                    #phone-content-cel{
                        top: 8.3vh;
                        left: 67.3%;
                        height: 23vh;
                        width: 25.3%;
                        border-radius: 5px;
                    }
                }
            }                                                
        }
    }
    #home{
        display: flex;
        height: 100vh;        
        @media screen and (max-width: 736px) {
            align-items: center;
            justify-content: center;
        };
        @media screen and (min-width: 736px){
            #companydesc{
                margin-top: 10vh !important;

            }
            #appsgif{
                margin-top: 10vh !important;
                margin-left: 1vw;
                width: 500px;
                height: 500px;          
                .wrapper{
                    padding: 0;
                    &>*{
                        position:absolute;
                    }
                    &#laptop-wrapper{
                        margin-top: 15vh;                        
                        #laptop-image{
                            filter: drop-shadow(2px 7px 4px rgba(0,0,0,0.2));
                        }
                        #laptop-content{
                            border-radius: 5px;
                            width: 385px;
                            height: 240px;
                            top: 15px;
                            left: 11.5%;
                        }                                                
                    }
                    &#phone-wrapper{
                        top: 20px;
                        left: 60%;
                        #phone-image{
                            width: 350px;
                            filter: drop-shadow(2px 7px 3px rgba(0,0,0,0.2));
                            height: 350px;
                        }
                        #phone-content{
                            border-radius: 5px;
                            left: 22.2%;
                            top: 40px;
                            height: 265px;
                            width: 127px;
                        }
                    }
                }                                                
            }
        }
        #slogan{
        }
        #companydesc{
            animation: upper-show 1s ease-in-out;
            animation-fill-mode: forwards;
        }
        #startnow{            
            input{
                border: 0;
            }
            input:focus,
            input:active{
                border: 1.5px solid $test_color_plain;
            }
            input::placeholder {
                color: #6c757d !important;
                opacity: 0.7;
            }              
            input:-ms-input-placeholder {
                color: #6c757d !important;
            }              
            input::-ms-input-placeholder {
                color: #6c757d !important;
            }
            button,
            input{
                height: 5vh !important;
            }
        }
    }
    #inicia{
        ol{
            transform: translateY(-50vh);
            margin: 0;
            height: 10vh;
            li{
                transition: all 200ms ease-in-out;
                text-align: center;
                width: 15vw;
                height: 100%;
                margin: 0;
                padding: 0;
                font-weight: bolder;
                text-indent: unset;
                background: none;
                color: black;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black !important;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
                    height: 3em;
                    z-index: 9999;
                    padding: 1em;
                    width: 10vw !important;
                    padding: 0;
                    border-radius: 5px;
                    background: lightgray !important;
                }
                .icon_item{
                    display: none;
                }
            }
            .active{
                .icon_item{
                    display: block;
                    animation: aol 250ms ease-in-out;
                    animation-fill-mode: forwards;
                    img{
                        width: 3em;
                        height: 3em;
                    }
                }
                span{
                    background: $test_color_plain !important;
                    color: white !important;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                }   
                
            }
        }
        .carousel-inner{
            transform: translateY(0);
            h4{
                font-weight: 600 !important;
                color: $test_color_hover;
            }
            .carousel-item{
                .card-deck{
                    height: 40vh !important;
                    width: 100% !important;
                    .card{
                        height: 100%;
                        .card-body{
                            img{
                                height: 100% !important;
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }

    #portfolio{
        .card-deck{
            .card{
                background: none;
                border: none;
                .card-header{
                    padding: 0 !important;
                }
                .btn-outline-dark{
                    @media screen and(max-width: 736px) {
                        padding: 1.5em;
                    }
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
                    transition: 0.3s; 
                    p{
                        font-size: 1.1em !important;
                    }
                    .arrow{
                        @media screen and(min-width: 736px) {
                            padding: 1em;
                        }
                    }            
                }
                .btn-outline-dark:hover{
                    @media screen and(min-width: 736px) {
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                        background: rgb(70, 16, 34, 0.2) !important;                       
                    }
                    color: #343a40;
                    .arrow{
                        animation: side-appear 500ms ease-in-out;
                        animation-fill-mode: forwards;
                    }
                }
                .arrow{
                    transform: scaley(-1);
                    opacity: 0;
                }
            }
        }    
    }
    #prices{
        transition: all 200ms ease-in-out;
        @media screen and(max-width: 736px) {
            padding: 0;
            height: auto;
            margin-top: 3em;
        }
        @media screen and(min-width: 736px) {
            margin-top: 20vh;
            padding: 1em 5em 5em 5em;
            height: 100vh;
            .card-deck{
                height: 85vh !important;
            }
        }
        .card-deck{
            #price_1,
            #price_2{
                @media screen and(max-width: 736px){
                    min-height: 60vh !important;
                }
            }
        }
        .btn-link{
            text-decoration: none;
            color: black;
            align-items: center;

        }
        .badge{
            height: 2.5em !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .badge a{
            display: inline-block;
            pointer-events: none !important;
            color: lightgray;
            transition: all 0.25s cubic-bezier(1,0,0.58,0.97);
        }
        .badge a:before{
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            top: calc(50%);
            right: 0;
            background: white;
            transition: inherit;
        }
        #price_1 .badge a{
            display: inline-block;
            color: white;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(1,0,0.58,0.97);
        }

        #vsicon{
            
        }
    
        &:hover #price_1 .badge a:before{
            //left: 0;
            //width: 100%;
        }
        @media screen and (min-width: 736px) {
            &:hover{
                #price_1{
                    transition: all 500ms ease-in-out;
                    transform: scale(0.9);
                }
                #price_2{
                    transition: all 500ms ease-in-out;
                    transform: scale(1.1);
                }
            }        
        }                    

        #price_1{
            border: none;
            .card-body{
                padding: 0.5em ;
            }
            .card-header{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 0.5em;
            }
            .card-footer{
                background: $test_color_hover;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            #accordion1{
                font-size: 1em !important;
                .card-header{
                    border-radius: 0;
                    background: lightgrey;
                }
            }
        }
        #price_2{
            border: none;
            .card-body{
                border-top-left-radius: 5px !important;
                border-top-right-radius: 5px !important;
                background: rgb(70,16,34);
                background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
            }
            .card-footer{
                background: $test_color;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    #nuestroservicio{
        .lead{
            text-align: initial !important;
        }
        .service-header{
            background: rgb(70,16,34);
            background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
        }
        .card{
            background: none;
            border: 0;            
            .list-group{
                li{
                    background: none;
                    border: none;
                }
            }
            img{
            }
        }
        .area{
            position: absolute;
            background: #f8f9fa;  
            width: 100%;
            height:100%;
            z-index: -9999;
        }
    }

    #nuestroportal{
        .banner{
            height: 60vh !important;
            background: rgb(70,16,34);
            background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
            border: 0 !important;
        }
        .line-through{
            text-align: center;
            position: relative;
            &:before,
            &:after {
                content: "";
                display: block;
                @media screen and(max-width: 736px){
                    width: 30%;
                }              
                @media screen and(min-width: 736px){
                    width: 40%;
                }                
                height: 3px;
                border-radius: 5px;
                background: $test_color_plain;
                top: 50%;
                position: absolute;
              }
              &:after {
                right: 0;
              }
              &:before {
                left: 0;
              }
        }
        .card{
            hr{
            }
            .card-header,
            .card-footer{
                background: rgb(70,16,34);
                background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
                border: 0 !important;
            }
            .card-body{
                border: 2px solid $test_color_hover;
                border-radius: 5px;
                img{
                    border-radius: 5px;
                }
            }
        }        
    }
    #quienessomos{
        .cover{
            background: rgb(70,16,34);
            background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
        }
        #ivan{
            box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2) !important;
            border: 2px solid $test_color_plain;
            background-image: url('../img/photo/ivan.jpg');
            background-size: cover;
            background-position: 65% 75%;
            background-repeat: no-repeat;
            height: 15em;
            width: 15em;
            border-radius: 50%;
        }
        #md-container{
            @media screen and(max-width: 736px) {
                display: none !important;
            }
        }
    }
    #nosotros{
        .accordion{
            box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2) !important;
            border-radius: 5px;
            @media screen and(max-width: 736px) {
                width: 90%;
            }
            @media screen and(min-width: 736px) {
                width: 85%;
            }
            .card{
                .card-header{                    
                    background: rgb(70,16,34);
                    background: radial-gradient(circle, rgba(70,16,34,0.1) 0%, rgba(70,16,34,0.2) 100%);
                    p{
                        text-align: initial !important;
                    }
                    .btn{
                        text-decoration: none;
                        color: #343a40;
                        img{
                            width: 2em;
                            transition: all 300ms ease-in-out;
                            transform: rotate(-90deg);
                        }
                    }
                    .collapsed{                  
                        img{
                            transform: rotate(90deg);
                        }
                    }
                }
                .card-body{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    #page-footer{
        background: $test_color !important;
        #copyright{
            text-align: center !important;
        }
        ul{
            font-size: 0.9em !important;
            text-align: start !important;
        }
        a{
            text-decoration: none;
            color: lightpink;
        }
        a:hover{
            color: whitesmoke !important;
        }
    }
    #contact{ 
             
        h1{
            color: $test_color_plain !important;
            font-weight: 600 !important;
        }
        a{
            color: $test_color_plain;
        }
        a:hover{
            color: $test_color_hover !important;
        }

        #contact-form{
            color: black;
            animation: upper-show 500ms ease-in-out;
            animation-fill-mode: forwards;
            
            label{
                padding: 0;
                text-align: end;
                margin-right: 1em;
                margin-bottom: 0;
            }
            .col{
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
    #ourplans{
        .card-deck{
            p{
                text-align: center !important;
            }
        }
        @media screen and(min-width: 736px) {
        }
        @media screen and(max-width: 736px) {
            margin-top: 5em !important;
            height: auto !important;
        }
        a{
            color: whitesmoke !important;
        }
        .card-header{
            color: whitesmoke !important;
            font-weight: 600 !important;
        }
        ul{
            li{
                background: none;
                color: whitesmoke;
                padding: 0.2em 0 0.2em 0 !important;
            }            
        }
        @media screen and(max-width: 736px) {
            .card-deck{
                .card{
                    margin: 1em 1em 1em 1em !important;         
                }
            }            
        }
        #basic_pck{
            animation: aol 500ms ease-in-out;
            animation-fill-mode: forwards;
            .card-header,
            .card-footer{
                background: radial-gradient(circle, rgba(82,143,40,1) 0%, rgba(52,94,23,1) 100%);
            }
            .card-title{
                color: radial-gradient(circle, rgba(82,143,40,1) 0%, rgba(52,94,23,1) 100%);
            }
        }
        #pro_pck{
            animation: aol 500ms ease-in-out;
            animation-fill-mode: forwards;
            .card-header,
            .card-footer{
                background: $test_color;
            }
            .card-title{
                color: $test_color;
            }
        }
        #enter_pck{
            animation: aol 500ms ease-in-out;
            animation-fill-mode: forwards;
            .card-header,
            .card-footer{
                background: radial-gradient(circle, rgba(40,52,143,1) 0%, rgba(21,26,71,1) 100%);
            }
            .card-title{
                color: black;
            }
        }
    }
    #thanks{
        @media screen and(max-width: 736px) {
            #md-thanks{
                display: none !important;
            }            
        }
        @media screen and(min-width: 736px) {
            #sm-thanks{
                display: none !important;
            }            
        }
    }
    #underconstruction{
        @media screen and(max-width: 736px) {
            #uc-md{
                display: none !important;
            }            
        }
        @media screen and(min-width: 736px) {
            #uc-sm{
                display: none !important;
            }            
        }
    }
    #terms{
        p{
            text-align: justify;
            text-justify: inter-word;
        }
    }
    #whatsapp{
        z-index: 4;
        position:fixed;
        width: 250px;
        &.animate{
            animation: side-appear 1500ms ease-in-out;
            animation-fill-mode: forwards;
        }
        @media screen and(max-width: 736px) {            
            bottom: 10px;
            right: 0;         
        }        
        @media screen and(min-width: 736px) {
            bottom:20px;
            right: 0 !important;
            img{
                height: 4em !important;
            }           
        }
        #banner{
            background-color: $test_color_hover !important;
            color: whitesmoke;
            text-decoration: none;
            border-radius: 15px;
            font-weight: 600 !important;
            display: none;
        }
        &.banner-active{
            #banner{
                display: block;
                animation: 350ms side-appear ease-in-out ;
                animation-fill-mode: forwards;                
            }
        }       
    }
    /*animation*/
    #contact,
    #thanks,
    #underconstruction,
    #ourplans{
        .area{
            position: fixed;
            background: whitesmoke;  
            width: 100%;
            height:100%;
            z-index: -1;
        }

        .circles{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .circles li{
            position: fixed;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgb(70, 16, 34, 0.1);
            animation: animate 10s linear infinite;
            bottom: -150px;
            
        }

        .circles li:nth-child(1){
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        .circles li:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4){
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5){
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8){
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9){
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10){
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }

        @keyframes animate {

            0%{
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            100%{
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }

        }
    }
}
@keyframes aol{
    0%{
        opacity: 0;
        transform: translateY(10px);        
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes upper-show{
    0%{
        opacity: 0;
        transform: translateY(0);        
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes side-appear{
    0%{
        opacity: 0;
        transform: translateX(20px);        
    }
    50%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(2px);
        opacity: 1;
    }
}