<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden !important;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="
  Desarrollador: Cristian Pardo (cristianpardoluna@gmail.com)
  
  [ESP] Analítica nace como un emprendimiento colombiano con la intención de impulsar la economía regional 
        a través de expertos desarrolladores. Implementamos tecnología y herramientas de punta al alcance de startups, 
        pequeñas y medianas empresas, dejando así a su disposición los recursos necesarios para estimular los resultados esperados.        
        Nos especializamos en: análisis y desarrollo de aplicaciones, migraciones de servicios a la nube y análisis de datos.

  [ENG] Analítica was born as a Colombian venture with the intention of boosting the regional economy
        through expert developers. We implement state-of-the-art technology and tools available to startups,
        small and medium-sized companies, thus leaving the necessary resources at their disposal to stimulate the expected results.
        We specialize in: application analytics and development, cloud service migrations, and data analytics.
  
  Tech stack: Python, Power BI, Azure, GCP, R, Golang, Go, Scala, Flask, Gin, Django, Angular, React, Javascript, Typescript, Java, Bootstrap, CSS, Sass, Jinja.

  ">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-199280870-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FQB5V4MSX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9FQB5V4MSX');
  </script>
  <!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
  <script type="application/ld+json">
    [{
      "@context" : "http://schema.org",
      "@type" : "SoftwareApplication",
      "image" : "https://analiticaco.com/img/company/md/uva.png",
      "url" : "https://analiticaco.com/",
      "author" : {
        "@type" : "Person",
        "name" : "Cristian Pardo (cristianpardoluna@gmail.com)"
      },
      "downloadUrl" : "https://clientes.analiticaco.com/",
      "screenshot" : [ "https://analiticaco.com/img/gif/pc.gif", "https://analiticaco.com/img/gif/cel.gif" ],
      "aggregateRating" : {
        "@name": "Analitica",
        "@type" : "AggregateRating",
        "ratingCount": "1000",
        "reviewCount": "1000",
        "ratingValue" : "10",
        "bestRating" : "10"
      }
    } ]
  </script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
  <link rel="icon" sizes="32X32" href="{{url_for('static', filename='img/company/icon.svg')}}">
  <title> ANALITICA - {% block header %}{% endblock %} </title>  
</head>
<body class="bg-light">
  <div id="initial-effect">
    {% set var = self._TemplateReference__context.name %}
    {% set var_1 = True if var == 'index.html' else False %}
    {% if var_1 %}
    <nav class="navbar navbar-expand-lg w-100 fixed-top px-4 py-md-2" id="navbar-effect">
      <a class="navbar-brand d-flex mr-2" href="{{url_for('index')}}">
        <img 
          class="img-fluid d-none d-md-block" 
          src="{{url_for('static', filename='img/company/logo-md/uva.png')}}" 
          style="width: 2.5em !important; height: 2em !important; border-radius: 50%;">
        <img 
          class="img-fluid d-block d-md-none" 
          src="{{url_for('static', filename='img/company/logo-md/uva.png')}}"       
          style="width: 2em !important; height: 1.5em !important; border-radius: 50%;">
      </a>
      <div class="d-block d-md-none navbar-brand mr-auto dropdown" id="lang-mov">
        <a class="nav-link dropdown-toggle" id="navbarDropdownLang-mov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <small>
              Language                      
          </small>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLang-mov">
          {% if var == 'index.html' %}
          <a class="dropdown-item" href="/">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
            Spanish
          </a>
          <a class="dropdown-item" href="/en/">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
            English
          </a>
          {% elif var == 'pricing.html' %}
          <a class="dropdown-item" href="{{url_for('pricing')}}">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
            Spanish
          </a>
          <a class="dropdown-item" href="{{url_for('pricing_en')}}">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
            English
          </a>
          {% elif var == 'contactus.html' %}
          <a class="dropdown-item" href="{{url_for('contact')}}">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
            Spanish
          </a>
          <a class="dropdown-item" href="{{url_for('contact_en')}}">
            <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
            English
          </a>
          {% endif %}
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse mt-0 navbar-collapse" id="navbar">
        <ul class="nav navbar-nav mr-auto" id="navbar-1-ul">
          <li class="nav-item d-none d-md-block dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if lang == 'ESP' %}
                Servicios
              {% else %}
                Services
              {% endif %}              
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#apps">
                {% if lang == 'ESP' %}
                  Desarrollo de aplicaciones
                {% else %}
                  Application development
                {% endif %}                
              </a>
              <a class="dropdown-item" href="#automatizacion">
                {% if lang == 'ESP' %}
                  Automatización de procesos
                {% else %}
                  Process automation
                {% endif %}              
              </a>
              <a class="dropdown-item" href="#ciencia_de_datos">
                {% if lang == 'ESP' %}
                  Ciencia de datos y AI
                {% else %}
                  Data science and AI
                {% endif %}                          
              </a>
            </div>
          </li>
          <div class="nav-item d-block d-md-none">
            <a class="nav-link" href="#nuestroservicio">
              {% if lang == 'ESP' %}
                Qué hacemos
              {% else %}
                What we do
              {% endif %}              
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#quienessomos">
              {% if lang == 'ESP' %}
                Quiénes somos
              {% else %}
                Who we are
              {% endif %}              
            </a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="#inicia">
              {% if lang == 'ESP' %}
                Cómo trabajamos
              {% else %}
                How we work
              {% endif %}              
            </a>
          </div>
        </ul>
        <ul class="navbar-nav" id="-navbar-1-ul">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('pricing') }}"> 
              {% if lang == 'ESP' %}
                Precios 
              {% else %}
                Pricing
              {% endif %}              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">
            {% if lang == 'ESP' %}
              Contacto
            {% else %}
              Contact
            {% endif %}
             </a>
          </li>
          <li class="nav-item d-none d-md-block dropdown" id="lang">
            <a class="nav-link dropdown-toggle" id="navbarDropdownLang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if lang == 'ESP' %}
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              {% else %}
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >
                English
              {% endif %}                      
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownLang">
              <a class="dropdown-item" href="/">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              </a>
              <a class="dropdown-item" href="/en/">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
                English
              </a>
            </div>
          </li>
          <div class="nav-item d-none d-md-block">
            <a 
              href="https://clientes.analiticaco.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="nav-link clientes-btn px-3 btn text-light btn-outline-warning shadow-none" 
            >
            {% if lang == 'ESP' %}
              Ingresa
            {% else %}
              Log in
            {% endif %}
            </a>
          </div>
          <div class="nav-item d-block d-md-none">
            <a
              target="_blank"
              rel="noopener noreferrer" 
              href="https://clientes.analiticaco.com" 
              class="nav-link clientes-btn px-5 text-light btn-outline-warning btn shadow-none" 
              >
              {% if lang == 'ESP' %}
              Ingresa
              {% else %}
                Log in
              {% endif %}
            </a>
          </div>
        </ul>
      </div>
    </nav>  
    {% else %}
    <nav class="navbar navbar-expand-lg w-100 fixed-top px-4 py-md-2 bg-light" id="navbar-effect-2">
        <a class="navbar-brand d-flex mr-2" href="{{url_for('index')}}">
          <img 
          class="img-fluid d-none d-md-block" 
          src="{{url_for('static', filename='img/company/logo-md/uva.png')}}" 
          style="width: 2.5em !important; height: 2em !important; border-radius: 50%;">
          <img 
            class="img-fluid d-block d-md-none" 
            src="{{url_for('static', filename='img/company/logo-md/uva.png')}}"       
            style="width: 2em !important; height: 1.5em !important; border-radius: 50%;">      
        </a>
        <div class="d-block d-md-none navbar-brand mr-auto dropdown" id="lang-mov">
          <a class="nav-link dropdown-toggle" id="navbarDropdownLang-mov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small>
                Language                      
            </small>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLang-mov">
            {% if var == 'index.html' %}
            <a class="dropdown-item" href="/">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
              Spanish
            </a>
            <a class="dropdown-item" href="/en/">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
              English
            </a>
            {% elif var == 'pricing.html' %}
            <a class="dropdown-item" href="{{url_for('pricing')}}">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
              Spanish
            </a>
            <a class="dropdown-item" href="{{url_for('pricing_en')}}">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
              English
            </a>
            {% elif var == 'contactus.html' %}
            <a class="dropdown-item" href="{{url_for('contact')}}">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
              Spanish
            </a>
            <a class="dropdown-item" href="{{url_for('contact_en')}}">
              <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
              English
            </a>
            {% endif %}
          </div>
        </div>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-2" aria-controls="navbar-2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbar-2">

        <ul class="nav navbar-nav mr-auto" id="navbar-2-ul">
          <div class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">
              {% if lang == 'ESP' %}
                Inicio
              {% else %}
                Home
              {% endif %}              
            </a>
          </div>
        </ul>

        <ul class="navbar-nav" id="-navbar-2-ul">
          {% if var == 'pricing.html' %}            
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('pricing') }}"> 
              {% if lang == 'ESP' %}
                Precios
              {% else %}
                Pricing
              {% endif %}
             </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('pricing') }}">               
              {% if lang == 'ESP' %}
                Precios
              {% else %}
                Pricing
              {% endif %} 
            </a>
          </li>
          {% endif %}
          {% if var == 'contactus.html' %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('contact') }}">
              {% if lang == 'ESP' %}
                Contacto
              {% else %}
                Contact
              {% endif %}
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">
              {% if lang == 'ESP' %}
                Contacto
              {% else %}
                Contact
              {% endif %}
            </a>
          </li>
          {% endif %}
          <li class="nav-item d-none d-md-block dropdown" id="lang">
            <a class="nav-link dropdown-toggle" id="navbarDropdownLang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if lang == 'ESP' %}
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              {% else %}
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >
                English
              {% endif %}                      
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownLang">
              {% if var == 'index.html' %}
              <a class="dropdown-item" href="/">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              </a>
              <a class="dropdown-item" href="/en/">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
                English
              </a>
              {% elif var == 'pricing.html' %}
              <a class="dropdown-item" href="{{url_for('pricing')}}">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              </a>
              <a class="dropdown-item" href="{{url_for('pricing_en')}}">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
                English
              </a>
              {% elif var == 'contactus.html' %}
              <a class="dropdown-item" href="{{url_for('contact')}}">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/colombia-circle.svg')}}" >
                Spanish
              </a>
              <a class="dropdown-item" href="{{url_for('contact_en')}}">
                <img class="img-fluid" src="{{url_for('static', filename='img/svg/usa-circle.svg')}}" >              
                English
              </a>
              {% endif %}
            </div>
          </li>
          <div class="nav-item d-none d-md-block">
            <a 
              href="https://clientes.analiticaco.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="nav-link clientes-btn px-3 btn text-light btn-outline-warning shadow-none" 
            >
            {% if lang == 'ESP' %}
              Ingresa
            {% else %}
              Log in
            {% endif %}
            </a>
          </div>
          <div class="nav-item d-block d-md-none">
            <a
              target="_blank"
              rel="noopener noreferrer" 
              href="https://clientes.analiticaco.com" 
              class="nav-link clientes-btn px-5 text-light btn-outline-warning btn shadow-none" 
              >
              {% if lang == 'ESP' %}
                Ingresa
              {% else %}
                Log in
              {% endif %}
            </a>
          </div>
        </ul>
      </div>
    </nav>
    {% endif %}
    {%block home%}
    {% endblock %}
  </div>
    {% block content %}
    {% endblock %}
    <a 
      id="whatsapp"
      class="d-flex"
      style="height: 4rem !important;"
      target="_blank"
      rel="noopener noreferrer"
      href="https://wa.me/573028665787?text=¡Quiero%20iniciar%20mi%20proyecto%20con%20ANALITICA!">
      <div class="d-flex align-items-center justify-content-center px-0 mr-2 col-7 p-0 m-0">
        <p class="m-0 lead p-2" id="banner">
          {% if lang == 'ESP' %}
            ¡Contáctanos!
          {% else %}
            Contact us!
          {% endif %}
        </p>        
      </div>
      <img 
        class="img-fluid col-3 p-0 m-0" 
        id="whatsappimg"
        src="{{ url_for('static', filename='img/svg/whatsapp.svg') }}">
    </a>
    <section class="d-flex flex-column align-items-center justify-content-center w-100" id="page-footer"> <!--cambiar-->
      <div class="row pt-5 mb-2 w-100 h-100 align-items-start text-center justify-content-around">
        <div class="col-md-5 flex-column p-0">
          <img class="img-fluid w-50" src="{{url_for('static', filename='img/company/md/rosa.png')}}" alt="">
          <div class="d-flex w-100 my-4 justify-content-center text-light">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/analitica-company/"><i class="fab fa-linkedin fa-2x mx-2"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/analiticaco/"><i class="fab fa-github fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-stack-overflow fa-2x mx-2"></i></a>
          </div>
          <p class="copyright text-light m-0" id="copyright">            
            {% if lang == 'ESP' %}
              Copyright &copy; 2021 Analítica Company S.A.S.,<br>
              Todos los derechos reservados.
            {% else %}
              Copyright &copy; 2021 Analítica Company S.A.S.,<br>
              All rights reserved.
            {% endif %}
          </p>
        </div>
        <div class="col-6 px-1 text-center d-none d-sm-block text-light">
          <div class="d-flex mx-auto justify-content-around">
            <div class="flex-column col">          
              <ul class="list-group" style="background: none !important;">            
                <div class="list-group-item p-1" style="background: none !important; border: none !important;">                  
                  {% if lang == 'ESP' %}
                    Desarrolladores: 
                  {% else %}
                    Developers:
                  {% endif %}                  
                </div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams;
                  {% if lang == 'ESP' %}
                    Repositorios 
                  {% else %}
                    Repositories
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams;                   
                  {% if lang == 'ESP' %}
                    Documentación
                  {% else %}
                    Documentation
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams; 
                  {% if lang == 'ESP' %}
                    Inteligencia Artificial
                  {% else %}
                    Artificial Intelligence
                  {% endif %}                  
                </a></div>
              </ul>
            </div>
            <div class="flex-column col">
              <ul class="list-group" style="background: none !important;">
                <div class="list-group-item p-1" style="background: none !important; border: none !important;">
                  {% if lang == 'ESP' %}
                    Acerca de Analítica:                    
                  {% else %}
                    About Analitica:
                  {% endif %}
                </div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('contact')}}">&diams; 
                  {% if lang == 'ESP' %}
                    Contacto                    
                  {% else %}
                    Contact
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams; 
                  {% if lang == 'ESP' %}
                    FAQ                    
                  {% else %}
                    FAQ
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams; 
                  {% if lang == 'ESP' %}
                    Nuestra historia                    
                  {% else %}
                    Our story
                  {% endif %}
                </a></div>
              </ul>
            </div>
            <div class="flex-column col">
              <ul class="list-group" style="background: none !important;">
                <div class="list-group-item p-1" style="background: none !important; border: none !important;">
                  {% if lang == 'ESP' %}
                    Recursos:                    
                  {% else %}
                    Resources:
                  {% endif %}
                </div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('terms')}}">&diams; 
                  {% if lang == 'ESP' %}
                    Términos y condiciones
                  {% else %}
                    Terms and conditions
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('privacypolicy')}}">&diams;                   
                  {% if lang == 'ESP' %}
                    Política de privacidad
                  {% else %}
                    Privacy policy
                  {% endif %}
                </a></div>
                <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="{{url_for('uc')}}">&diams; 
                  {% if lang == 'ESP' %}
                    Manual de usuario
                  {% else %}
                    Users manual
                  {% endif %}
                </a></div>
              </ul>
            </div>
          </div>
        </div>
      </div>  
      <div class="row text-light text-center">        
        <p class="lead mx-auto text-center px-5">
          {% if lang == 'ESP' %}
            Hecho por Analítica Company S.A.S. con 
            <img class="img-fluid" style ="width: 2em;" src="{{url_for('static', filename='img/svg/colombia.svg')}}" style="width: 3em;" alt=""> 
            desde Colombia.
          {% else %}
            Made by Analítica Company S.A.S. with 
            <img class="img-fluid" style ="width: 2em;" src="{{url_for('static', filename='img/svg/colombia.svg')}}" style="width: 3em;" alt=""> 
            from Colombia.
          {% endif %}
        </p>            
      </div>
    </section>
    </div>
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script>
            try{
              document.addEventListener('DOMContentLoaded', function(event){
                var navbar = document.getElementById('navbar-effect');
                var section = document.getElementById('service-gd');
                function navbar_trans(){         
                  let scroll = window.scrollY; 
                  /**
                   * agregar o quitar fondo de navbar
                  */
                  if ((scroll>100) && (!navbar.classList.contains('trans-effect'))){
                    navbar.classList.add('bg-light');
                  } else {
                    navbar.classList.remove('bg-light');
                  };
                }
                document.addEventListener('scroll', function(e){
                  if(navbar){
                    navbar_trans();
                  }                    
                });
              });
            }catch(error){
              console.log(error);
            };      
    </script>
    <script>
      try{
        $('#navbar-1-ul a, #portfolio a').on('click', function(e){
          if(this.hash !== ''){
            e.preventDefault();
            const hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top - 100
            }, 900, function(){
              history.replaceState(null,null,hash);
            });
          }
        });  
      }catch(error){
        //
      };
    </script>
    <script>
      $(document).ready(function () {
        $(document).click(function (event) {
          var clickover = $(event.target);
          var _opened = $(".navbar-collapse").hasClass("show");
          if (_opened === true && !clickover.hasClass("navbar-toggler")) {
            $(".navbar-toggler").click();
          }
        });
      });
    </script>
</body>
</html>


