{% extends "base.html" %}
{% block header %}
Expertos en ciencia de datos
{% endblock %}
{% block home %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert ml-3 p-2 alert-danger alert-dismissible fade show" role="alert">
    <i class="fas fa-bomb fa-2x mr-2"></i>
    <h6 class="alert-heading mt-2 mb-0"><strong>Hemos encontrado un error.</strong></h6>
    <p class="m-0">{{ messages[0] }}</p>
    <button type="button" class="close p-0 m-2" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endwith %}

<section id="home">
    <div class="d-flex col-md-5 h-100 pr-md-0 align-items-center text-center justify-content-center cover">
        <div class="d-flex flex-column" id="col-mt" style="">          
          <div class="mx-auto text-md-left align-items-start flex-column w-75" id="companydesc">
            <img class="img-fluid col-sm-9 p-0" src="{{url_for('static', filename='img/company/uva-md.png')}}" alt="" id="companylogo">
            <h3 class="display-5" id="slogan" style="font-weight: 600; transform: translateY(-3vh);">Expertos en ciencia de datos.</h3>
          </div>          
          <div class="col-md-9 p-md-0 mt-md-0 mx-auto form-inline" id="startnow">
            
            <p class="text-md-left text-sm-center m-0 lead">
              Conecta todas tus fuentes, visualiza tus indicadores e impulsa tu negocio.
            </p>
            <form 
              class="d-md-flex w-100 p-0 align-items-center justify-content-around"
              action="/startnow"
              method="POST">
              <input type="email" class="form-control col-lg my-2" name="email" placeholder="Ingresa tu correo electrónico">
              <button type="submit" class="btn btn-outline-warning shadow-none ml-md-1 my-2 col-sm col-md-3">¡Inicia!</button>
            </form>

            <p class="text-left"><i>Comienza desde $40.000 COP, la hora más barata del mercado.</i></p>
          </div>
        </div>
    </div>
    <div class="d-none px-5 d-sm-block w-100">
      <img class="img-fluid" style="margin-top: 25vh; border-radius: 5px;" src="{{url_for('static', filename='img/gif/4.gif')}}" alt="">
    </div>
</section>
<section id="portfolio" style="height: 100vh;">
  <div class="card-deck mx-auto px-5 w-100 h-100">
    <div class="card">
      <div class="d-flex flex-column justify-content-center card-body text-md-right text-center">
        <h4 class="display-4 d-none d-md-block">Transforma tus datos en acciones.</h4>
        <h1 class="d-block d-md-none">Transforma tus datos en acciones.</h1>
        <h5 class="display-5 text-muted">Tu propio equipo de expertos desarrolladores por la hora más barata del mercado.</h5>
      </div>
    </div>
    <div class="card px-md-5">
      <div class="d-flex flex-column h-100 justify-content-center">
        <a href="#automatizacion" class="btn h-25 d-flex align-items-center btn-outline-dark btn-block text-left" style="background: white;">
          <img class="mr-3 p-0 col-2" src="{{url_for('static', filename='img/svg/process.svg')}}" alt="">
          <div class="d-flex col-md-8 col-sm-10 p-0 flex-column">
            <h4 class="display-5">Automatización de procesos</h4>
            <p class="m-0 d-none d-md-block">Diseñamos, desarrollamos y desplegamos flujos de trabajo automatizados totalmete personalizados.</p>
          </div>
          <div class="flex-column d-none d-md-block col-2 p-0 align-items-center justify-content-center">
            <img class="img-fluid arrow" src="{{url_for('static', filename='img/svg/001-arrow-left.svg')}}" alt="">
          </div>
        </a>
        <a href="#ciencia_de_datos" class="btn h-25 d-flex align-items-center btn-outline-dark btn-block h-25 text-left" id="dt-btn" style="background: white;">
          <img class="mr-3 p-0 col-2" src="{{url_for('static', filename='img/svg/data-analysis.svg')}}" alt="">
          <div class="d-flex col-md-8 col-sm-10 p-0 flex-column">
            <h4 class="display-5">Ciencia de datos</h4>
            <p class="m-0 d-none d-md-block">Explota al máximo tus datos a través de nuestras avanzadas técnicas de análisis de datos y poderosas visualizaciones.</p>
          </div>
          <div class="flex-column d-none d-md-block col-2 p-0 align-items-center justify-content-center">
            <img class="img-fluid arrow" src="{{url_for('static', filename='img/svg/001-arrow-left.svg')}}" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>  
</section>
{% endblock %}
{% block content %}

<section class="text-center d-none d-md-block" id="inicia" style="height: 100vh; margin-top: 10vh;">
  <div class="flex-column px-5 h-100 justify-content-center align-items-center text-center">
    <h5 class="display-5 text-left text-muted" style="font-weight: 600 !important;">Inicia con Analítica</h5>
    <h2 class="display-5 text-left" style="margin-bottom: 30vh;  font-weight: 600 !important;">Este es nuestro proceso de creación</h2>
    <div id="carousel1" class="carousel mx-auto w-75 slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="d-flex align-items-end active">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/009-trust.svg')}}" alt=""></div>
            <span class="bg-dark text-light">¡Bienvenido!</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="1" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/019-purpose.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Planea</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="2" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/006-advice.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Aprueba</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="3" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/012-success.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Visualiza</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="4" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/018-strong.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Decide</span>
          </div>
        </li>
      </ol>
      <div class="carousel-inner mx-auto w-100">
        <div class="carousel-item align-items-center justify-content-center active">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-right">
                <h4 class="display-5 p-0">
                  Analítica y tú se conocen
                </h4>
                <p class="text-muted p-0"  style="font-size: larger !important;">
                  Uno de nuestros agentes comerciales se encargará de ponerse en contacto contigo lo antes posile.
                </p>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 w-100 h-100 d-block" src="{{ url_for('static', filename='img/svg/team_1.svg') }}" alt="first">
              </div>
            </div>
          </div> 
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/plan_1.svg') }}" alt="first">
              </div>              
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-left">
                <h4 class="display-5">
                  Te entregaremos el plan de trabajo
                </h4>
                <p class="text-muted" style="font-size: larger !important;">
                  Después de una rápida sesión de contexto, recibirás un documento
                  con la cantidad de horas necesarias para llevar a cabo tu proyecto,
                  ¡recuerda que cada hora es a sólo a $40.000 COP!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-right">
                <h4 class="display-5">
                  Esperaremos tu aprobación
                </h4>
                <p class="text-muted" style="font-size: larger !important;">
                  Podrás revisar los últimos detalles del plan de trabajo,
                  hacer las preguntas y modificaciones que quieras y (una vez aprobado),
                  ¡pondremos manos a la obra!
                </p>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/approval_1.svg') }}" alt="first">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 align-items-center justify-content-center">
                <img class="img-fluid m-0 mx-auto d-block"  style="height: 10em;" src="{{ url_for('static', filename='img/svg/analytics_1.svg') }}" alt="first">
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body text-left">
                <h4 class="display-5">
                  Podrás ver los resultados de nuestro trabajo.
                </h4>
                <p class="lead text-muted">
                  Durante la ejecución de tu proyecto y sin necesidad culminar este,
                  podrás empezar a visualizar desde nuestro portal clientes (totalmente gratis)
                  los resultados de nuestro trabajo.
                </p>
              </div>
            </div>
          </div>                      
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body text-right">
                <h4 class="display-5">Toma las riendas de tu negocio y enfoca a tu equipo en la dirección correcta</h4>
                <a href="{{url_for('contact')}}" class="btn mt-3 btn-outline-warning shadow-none font-weight-bold">¡Quiero ser parte del proceso!</a>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/woman_1.svg') }}" alt="first">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class id="prices">
  <div class="card-deck align-items-center h-100 pb-5 px-4 pt-1">
    <div class="card align-items-center justify-content-center h-100 w-100" id="price_1">
      <div class="card-header bg-dark text-light font-weight-bold text-center w-100">
        Promedio mercado laboral
      </div>
      <div class="card-body w-100 d-flex align-items-center px-md-5">
        <div class="accordion w-100" id="accordion1">

          <div class="card">
            <div class="card-header" id="header1">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between p-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Desarrollador Backend <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$60.523 COP</a></span>
              </button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="header1" data-parent="#accordion1" style="">
              <div class="card-body">
                Es responsable de diseñar, construir y mantener el servidor de tu aplicación.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header2">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Especialista BI <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$31.250 COP</a></span>
              </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#accordion1">
              <div class="card-body">
                A cargo de desarrollar, desplegar y mantener interfaces de Inteligencia de negocios.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header3">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Científico de datos <span class="badge badge-pill badge-danger"><a class="m-0 lead" href="">$56.070 COP</a></span>
              </button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#accordion1">
              <div class="card-body">
                Diseña y ejecuta todos los procesos necesarios para explotar la información.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header4">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Tester <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$21.605 COP</a></span>            
              </button>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="header4" data-parent="#accordion1">
              <div class="card-body">
                Encuentra bugs, errores, defectos o cualquier problema del aplicativo.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header5">
                <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Desarrollador Frontend <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$38.650 COP</a></span>
                </button>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#accordion1">
              <div class="card-body">
                Diseña y desarrolla la interfaz del usuario o <i>front-end</i>.
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card-footer text-center text-light w-100">
        <h5 class="display-5">Más de $200.000 COP / hora</h5> 
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center w-100 my-3 d-block d-md-none">
      <img src="{{ url_for('static', filename='img/svg/versus.svg') }}" alt="" class="img-fluid" id="vsicon" style="width: 5em; z-index: 999;">    
    </div>
    <img src="{{ url_for('static', filename='img/svg/versus.svg') }}" alt="" class="img-fluid d-none d-md-block" id="vsicon" style="width: 5em; z-index: 999;">
    <div class="card h-100" id="price_2">
      <div class="card-body text-dark flex-column justify-content-center px-md-5 d-flex align-items-center text-center">
        <img class="img-fluid" src="{{ url_for('static', filename='img/company/uva-md.png') }}" style="height: 3em;" alt="">
        <h4 class="display-5">¡Ahorra más del 80% cada hora!</h4>
      </div>
      <div class="card-footer text-center text-light w-100">
        <h1 class="display-5 d-none d-md-block">$40.000 COP / Hora</h1>
        <h5 class="display-5 d-block d-md-none">$40.000 COP / Hora</h5>
      </div>
    </div>
  </div>
</section>

<section id="ourservices">
  <!--workflow-->
  <hr class="d-block d-md-none my-5 mx-3">
  <div class="card-deck px-5 mt-0 mb-5" id="automatizacion">
    <div class="card m-0 mb-5 justify-content-center">
      <div class="d-flex flex-column p-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); border-radius: 5px;">
        <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Automatización de procesos</h3>
          <p class="text-muted m-0">Diseñamos, desarrollamos y desplegamos flujos de trabajo automatizados totalmete personalizados.</p>
      </div>
    </div>
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/coding.svg')}}" alt="">
          <p class="lead m-0" style="text-transform: uppercase; font-weight: 600;">Sin código</p>
          <p class="text-muted">
            Monitorea tus resultados sin escribir una sola línea de código.
          </p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/009-review.svg')}}" alt="">
          <p class="lead m-0" style="text-transform: uppercase; font-weight: 600;">Formularios web</p>
          <p class="text-muted">Crea formularios totalmente personalizados y úsalos desde nuestro portal clientes.</p>
        </li>
      </ul>
    </div>
    <div class="card m-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/003-server.svg')}}" alt="">
          <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Variedad de integraciones</p>
          <p class="text-muted">Sin importar la fuente de tus datos, crearemos la manera de integrarlo a tu nuevo proceso.</p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/006-cloud-computing-1.svg')}}" alt="">
          <p class="lead m-0" style="text-transform: uppercase;">Arquitectura expandible</p>
          <p class="text-muted">Todo nuestros servicios se encuentran desplegados en la nube.</p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/002-search.svg')}}" alt="">
          <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Analítica en tiempo real</p>
          <p class="text-muted">Obtén métricas rápidas en tiempo real totalmente gratis.</p>
        </li>
      </ul>
    </div>
  </div>
  <hr class="my-0 mx-5">
  <!-- datascience -->
  <div class="card-deck px-5 my-5" id="ciencia_de_datos">
    <div class="card mb-5 d-block d-md-none m-0 justify-content-center">
      <div class="d-flex flex-column p-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); border-radius: 5px;">
        <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Ciencia de datos</h3>
          <p class="text-muted m-0">Explota al máximo tus datos a través de nuestras avanzadas técnicas de análisis de datos y poderosas visualizaciones.</p>
      </div>
    </div>
    <div class="card m-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/graphic.svg')}}" alt="">
          <p style="text-transform: uppercase; font-weight: 600;" class="lead m-0">Pronósticos y analítica predictiva</p>
          <p class="text-muted">
            Desarrollaremos todos los procesos estadísiticos para estimar 
            las relaciones entre las variables que pueden afectar la salud de tu negocio.
          </p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/001-cloud-computing.svg')}}" alt="">
          <p style="text-transform: uppercase; font-weight: 600;" class="lead m-0">Procesamiento de lenguaje natural</p>
          <p class="text-muted">
            Desde chatbots hasta análisis de sentimientos, nuestro equipo identifica, extrae, cuantifica y estudia
            patrones linguísticos para obtener las mejores y más confiables conclusiones. 
          </p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/005-document.svg')}}" alt="">
          <p style="font-weight: 600; text-transform: uppercase;" class="lead m-0">Reportes totalmente personalizados</p>
          <p class="text-muted">
            Materializa tu estrategia en reportes totalmente personalizados para determinar
            el comportamiento histórico, actual y futuro de tu negocio.
          </p>
        </li>
      </ul>
    </div>
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/015-brainstorming.svg')}}" alt="">
          <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Tus datos seguros</p>
          <p class="text-muted">
            Protege tus datos mediante encriptación de extremo a extremo <i>(End-to-end)</i>
            desde nuestro aplicativo web para clientes.
          </p>
        </li>
        <li class="list-group-item">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/svg/016-brain.svg')}}" alt="">
          <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Inteligencia artificial</p>
          <p class="text-muted">
            Optimizamos los procesos de aprendizaje y análisis de datos que requiera tu proyecto con 
            metodologías avanzadas para asegurar la confiabilidad de tus resultados.
          </p>
        </li>
      </ul>
    </div>
    <div class="card d-none d-md-block m-0">
      <div class="d-flex w-100 h-100 align-items-center justify-content-center">
        <div class="d-flex flex-column p-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); border-radius: 5px;">
          <p class="lead m-0" style="font-weight: 600; text-transform: uppercase;">Ciencia de datos</h3>
            <p class="text-muted m-0">Explota al máximo tus datos a través de nuestras avanzadas técnicas de análisis de datos y poderosas visualizaciones.</p>
        </div>
      </div>      
    </div>
  </div>
  <hr class="d-block d-md-none my-5 mx-3">
</section>

<section id="nosotros">
  <h5 class="display-5 text-left ml-3 ml-md-5 text-muted" style="font-weight: 600 !important;">Qué hacemos por tu negocio.</h5>
  <h2 class="display-5 text-left ml-3 ml-md-5" style="font-weight: 600 !important;">¿Todavía lo estás dudando? </h2>
  <p class="text-muted d-none d-md-block ml-5"><i>Haz click en cada recuadro para dirigirte al artículo original.</i></p>
  <p class="text-muted d-block d-md-none ml-3"><i>Toca cada recuadro para dirigirte al artículo original.</i></p>
  <div class="flex-column d-none d-md-block px-3 px-md-5">
    <div class="card-deck">
      <div class="card img1">
        <div class="d-flex w-100 h-100" style="background: rgba(0,0,0,0.7);">
          <div class="flex-column mx-5 d-flex justify-content-center text-right w-50 text-light">
            <h1 class="display-5" style="font-weight: 600;">
              Reduce costos y optimiza procesos.
            </h1>
            <p class="lead">
            </p>
          </div>
          <div 
          class="flex-column px-3 m-5 d-flex justify-content-center text-center w-50 text-light"
          style="border-radius: 5px; border: 2px solid whitesmoke;">
          <a 
          href="https://www.mckinsey.com/business-functions/mckinsey-digital/our-insights/reducing-data-costs-without-jeopardizing-growth#"
          target="_blank" 
          rel="noopener noreferrer"
          style="text-decoration: none !important; color: whitesmoke !important;"
          >
          <p class="lead">
            “…Eliminando fuentes sin usar, definiendo 
            claramente los niveles de acceso a los datos y 
            permitiendo que los datos sensibles puedan ser 
            reutilizados por periodos más largos, la industria
              logró recortar los costos en data hasta un <dat id="first">20%</dat>.”
          </p>
          <p class="text-left"><i>
            <b>Reducing data costs without jeopardizing growth</b> – McKinsey (31 de Julio, 2020)
          </p></i>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card img2">
        <div class="d-flex w-100 h-100" style="background: rgba(0,0,0,0.7);">
          <div 
            class="flex-column m-5 px-3 d-flex justify-content-center text-center w-50 text-light"
            style="border-radius: 5px; border: 2px solid whitesmoke;">
            <a 
            href="https://www.bloomberg.com/news/articles/2021-03-16/artificial-intelligence-chatbots-threaten-call-center-industry-human-operators"
            target="_blank" 
            rel="noopener noreferrer"
            style="text-decoration: none !important; color: whitesmoke !important;"
            >
              <p class="lead">
                “…Antes de la pandemia, el uso de chatbots y tecnologías AI (enfocadas al servicio al cliente) era de menos del 10%, 
                para finales del 2021 podría alcanzar hasta un <dat id="second">35%</dat>.”
              </p>
              <p class="text-left">
                <i>
                  <b>Empathetic Robots Are Killing Off the World’s Call-Center Industry </b>
                  – Bloomberg (16 de Marzo, 2021)
                </i>
              </p>
            </a>          
          </div>
          <div class="flex-column mx-5 d-flex justify-content-center text-left w-50 text-light">
            <h1 class="display-5" style="font-weight: 600;">
              Inteligencia artifical enfocada al servicio al cliente.
            </h1>
            <p class="lead">
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="card-deck">
      <div class="card img3">
        <div class="d-flex w-100 h-100" style="background: rgba(0,0,0,0.7);">
          <div class="flex-column mx-5 d-flex justify-content-center text-right w-50 text-light">
            <h1 class="display-5" style="font-weight: 600;">
              La hora más barata del mercado.
            </h1>
            <p class="lead">              
            </p>
          </div>
          
          <div 
          class="flex-column px-3 m-5 d-flex justify-content-center text-center w-50 text-light"
          style="border-radius: 5px; border: 2px solid whitesmoke;">
            <a 
            href="https://www.kolabtree.com/blog/how-to-hire-a-data-scientist/"
            target="_blank" 
            rel="noopener noreferrer"
            style="text-decoration: none !important; color: whitesmoke !important;"
            >
              <p class="lead">
                “Un científico de datos normalmente cuesta entre <dat id="third_1">$35</dat> USD a <dat id="third_2">$200</dat> USD, con una tarifa fija por proyecto de <dat id="third_3">$2000</dat> USD.”
              </p>
              <p class="text-left">
                <i>
                  <b>
                    How to Hire a Data Scientist.
                  </b>
                  – Kolabtree (15 de Abril, 2019)
                </i>
              </p>
            </a>          
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card img4">
        <div class="d-flex w-100 h-100" style="background: rgba(0,0,0,0.7);">
          <div 
          class="flex-column px-3 m-5 d-flex justify-content-center text-center w-50 text-light"
          style="border-radius: 5px; border: 2px solid whitesmoke;">          
            <a 
            href="https://www.worldoil.com/news/2016/12/13/how-big-data-is-reducing-costs-and-improving-performance-in-the-upstream-industry"
            target="_blank" 
            rel="noopener noreferrer"
            style="text-decoration: none !important; color: whitesmoke !important;"
            >
              <p class="lead">
                “…Operadores pueden experimentar un promedio de <dat id="fourth">$49</dat> 
                millones de dólares anualmente en impactos financieros debido a tiempo 
                de caída de servicios tecnológicos…”
              </p>
              <p class="text-left">
                <i>
                  <b>
                    How Big Data is reducing costs and improving performance in the upstream industry.
                  </b>
                  – World Oil (13 de Diciembre, 2016)
                </i>              
              </p>
            </a>            
          </div>
          <div class="flex-column mx-5 d-flex justify-content-center text-left w-50 text-light">
            <h1 class="display-5" style="font-weight: 600;">
              Todo en la nube, como debería ser.
            </h1>
            <p class="lead">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card img5">
        <div class="d-flex w-100 h-100" style="background: rgba(0,0,0,0.7);">
          <div class="flex-column mx-5 d-flex justify-content-center text-right w-50 text-light">
            <h1 class="display-5 mb-4" style="font-weight: 600;">
              Enséñale a tu equipo por dónde es el camino.
            </h1>
          </div>
          <div 
          class="flex-column px-3 m-5 d-flex justify-content-center text-center w-50 text-light"
          style="border-radius: 5px; border: 2px solid whitesmoke;">
          <a 
          href="https://www.forbes.com/sites/tableau/2020/06/15/how-data-leaders-can-drive-recovery-and-growth-through-crisis/?sh=24f124dc1013"
          target="_blank" 
          rel="noopener noreferrer"
          style="text-decoration: none !important; color: whitesmoke !important;"
          >
            <p class="lead">
              “…<dat id="fifth">67%</dat> de los empleados en empresas líderes en data indican que requieren datos para soportar
              las recomendaciones y decisiones tomadas.”
            </p>
            <p class="text-left">
              <i>
                <b>
                  How Data Leaders Drive Recovery And Growth.
                </b>
                – Forbes (15 de Junio, 2020)
              </i>              
            </p>
          </a>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-column d-block d-md-none">
    <card class="card m-3 img1">
      <div 
      class="flex-column d-flex justify-content-center text-center w-100 h-100 p-2"
      style="border-radius: 5px; background: rgba(0,0,0,0.7);">
      <h3 class="display-5" style="font-weight: 600; color: whitesmoke;">Reduce costos y optimiza procesos.</h3>
      <hr class="m-0 px-5" style="border: 2px solid whitesmoke !important;">
        <a 
        href="https://www.mckinsey.com/business-functions/mckinsey-digital/our-insights/reducing-data-costs-without-jeopardizing-growth#"
        target="_blank" 
        rel="noopener noreferrer"
        style="text-decoration: none !important; color: whitesmoke !important;"
        >          
          <p class="lead">
            “…Eliminando fuentes sin usar, definiendo 
            claramente los niveles de acceso a los datos y 
            permitiendo que los datos sensibles puedan ser 
            reutilizados por periodos más largos, la industria
              logró recortar los costos en data hasta un <dat id="first">20%</dat>.”
          </p>
          <p class="text-left">
            <i>
              <b>Reducing data costs without jeopardizing growth</b> – McKinsey (31 de Julio, 2020)
            </i>
          </p>    
        </a>
      </div>
    </card>
    <card class="card m-3 img2">
      <div 
      class="flex-column d-flex justify-content-center text-center w-100 h-100 p-2"
      style="border-radius: 5px; background: rgba(0,0,0,0.7);">
      <h3 class="display-5" style="font-weight: 600; color: whitesmoke;">Inteligencia artifical enfocada al servicio al cliente. </h3>
      <hr class="m-0 px-5" style="border: 2px solid whitesmoke !important;">
        <a 
        href="https://www.bloomberg.com/news/articles/2021-03-16/artificial-intelligence-chatbots-threaten-call-center-industry-human-operators"
        target="_blank" 
        rel="noopener noreferrer"
        style="text-decoration: none !important; color: whitesmoke !important;"
        >
          <p class="lead">
            “…Antes de la pandemia, el uso de chatbots y tecnologías AI (enfocadas al servicio al cliente) era de menos del 10%, 
            para finales del 2021 podría alcanzar hasta un <dat id="second">35%</dat>.”
          </p>
          <p class="text-left">
            <i>
              <b>Empathetic Robots Are Killing Off the World’s Call-Center Industry </b>
              – Bloomberg (16 de Marzo, 2021)
            </i>
          </p>          
        </a>
      </div>
    </card>
    <card class="card m-3 img3">
      <div 
      class="flex-column d-flex justify-content-center text-center w-100 h-100 p-2"
      style="border-radius: 5px; background: rgba(0,0,0,0.7);">
      <h3 class="display-5" style="font-weight: 600; color: whitesmoke;">La hora más barata del mercado.</h3>
      <hr class="m-0 px-5" style="border: 2px solid whitesmoke !important;">
        <a 
        href="https://www.kolabtree.com/blog/how-to-hire-a-data-scientist/"
        target="_blank" 
        rel="noopener noreferrer"
        style="text-decoration: none !important; color: whitesmoke !important;"
        >
          <p class="lead">
            “Un científico de datos normalmente cuesta entre <dat id="third_1">$35</dat> USD a <dat id="third_2">$200</dat> USD, con una tarifa fija por proyecto de <dat id="third_3">$2000</dat> USD.”
          </p>
          <p class="text-left">
            <i>
              <b>
                How to Hire a Data Scientist.
              </b>
              – Kolabtree (15 de Abril, 2019)
            </i>
          </p>
        </a>
      </div>
    </card>
    <card class="card m-3 img4">
      <div 
      class="flex-column d-flex justify-content-center text-center w-100 h-100 p-2"
      style="border-radius: 5px; background: rgba(0,0,0,0.7);">
      <h3 class="display-5" style="font-weight: 600; color: whitesmoke;">Todo en la nube, como debería ser.</h3>
      <hr class="m-0 px-5" style="border: 2px solid whitesmoke !important;">
        <a 
        href="https://www.worldoil.com/news/2016/12/13/how-big-data-is-reducing-costs-and-improving-performance-in-the-upstream-industry"
        target="_blank" 
        rel="noopener noreferrer"
        style="text-decoration: none !important; color: whitesmoke !important;"
        >          
        <p class="lead">
          “…Operadores pueden experimentar un promedio de <dat id="fourth">$49</dat> 
          millones de dólares anualmente en impactos financieros debido a tiempo 
          de caída de servicios tecnológicos…”
        </p>
        <p class="text-left">
          <i>
            <b>
              How Big Data is reducing costs and improving performance in the upstream industry.
            </b>
            – World Oil (13 de Diciembre, 2016)
          </i>              
        </p>

        </a>
      </div>
    </card>
    <card class="card m-3 img5">
      <div 
      class="flex-column d-flex justify-content-center text-center w-100 h-100 p-2"
      style="border-radius: 5px; background: rgba(0,0,0,0.7);">
      <h3 class="display-5" style="font-weight: 600; color: whitesmoke;">Enséñale a tu equipo por dónde es el camino.</h3>
      <hr class="m-0 px-5" style="border: 2px solid whitesmoke !important;">
        <a 
        href="https://www.forbes.com/sites/tableau/2020/06/15/how-data-leaders-can-drive-recovery-and-growth-through-crisis/?sh=24f124dc1013"
        target="_blank" 
        rel="noopener noreferrer"
        style="text-decoration: none !important; color: whitesmoke !important;"
        >          
          <p class="lead">
            “…<dat id="fifth">67%</dat> de los empleados en empresas líderes en data indican que requieren datos para soportar
            las recomendaciones y decisiones tomadas.”
          </p>
          <p class="text-left">
            <i>
              <b>
                How Data Leaders Drive Recovery And Growth.
              </b>
              – Forbes (15 de Junio, 2020)
            </i>              
          </p>  
        </a>
      </div>
    </card>
  </div>
</section>
{% endblock %}