{% extends "base.html" %}

{% block content %}
<section id="home" style="height: 100vh;">
    <div class="d-flex h-100 align-items-center text-center justify-content-center bg-light cover">
        <div class="">
          <img class="img-fluid w-25" src="{{url_for('static', filename='img/analitica-logo-md/cafe.png')}}" alt="">
          <div class="mx-auto flex-column w-50">
            <h3 class="display-5">Expertos en ciencia de datos.</h3>
            <h4 class="display-5 mt-5">Comienza ahora por $40.000 COP/hora.</h4>
          </div>          
          <form action="" class="justify-content-center mx-auto w-50 form-inline">
            <div class="form-group w-75 p-0 pr-4">
              <input type="text" class="w-100 form-control shadow-none">
            </div>
            <button class="btn btn-outline-warning shadow-none w-25">Inicia</button>
          </form>
        </div>
    </div>
</section>

<section id="portfolio" style="height: 100vh;">
  <div class="card-deck mx-auto px-5 w-100 h-100">
    <div class="card">
      <div class="d-flex flex-column justify-content-center card-body text-right">
        <h4 class="display-4">Transforma tus datos en acciones.</h4>
        <h5 class="display-5 text-muted">Tu propio equipo de expertos desarrolladores por la hora más barata del mercado.</h5>
      </div>
    </div>
    <div class="card px-5">
      <div class="d-flex flex-column h-100 justify-content-center">
        <button class="btn h-25 d-flex align-items-center btn-outline-dark btn-block text-left">
          <img class="mr-3" style="width: 5em;" src="{{url_for('static', filename='img/svg/process.svg')}}" alt="">
          <div class="d-flex flex-column pr-4">
            <h4 class="display-5">Automatización de procesos</h4>
            <p clas="m-0">Diseñamos, desarrollamos y desplegamos flujos de trabajo automatizados totalmete personalizados y en tiempo real.</p>                    
          </div>
          <div class="flex-column w-25 align-items-center justify-content-center">
            <img class="img-fluid arrow" src="{{url_for('static', filename='img/svg/001-arrow-left.svg')}}" alt="">
          </div>
        </button>
        <button class="btn h-25 d-flex align-items-center btn-outline-dark btn-block h-25 text-left">
          <img class="mr-3" style="width: 5em;" src="{{url_for('static', filename='img/svg/data-analysis.svg')}}" alt="">
          <div class="d-flex flex-column pr-4">
            <h4 class="display-5">Soluciones en ciencia de datos</h4>
            <p class="m-0">Explota al máximo tus datos a través de nuestras avanzadas técnicas de análisis de datos y poderosas.</p>
          </div>
          <div class="flex-column w-25 align-items-center justify-content-center">
            <img class="img-fluid arrow" src="{{url_for('static', filename='img/svg/001-arrow-left.svg')}}" alt="">
          </div>
        </button>
      </div>
    </div>
  </div>  
</section>

<section id="prices" class="p-5" style="height: 100vh;">
  <div class="card-deck align-items-center h-100 p-5">
    <div class="card align-items-center justify-content-center h-100 w-100" id="price_1">
      <div class="card-header bg-dark text-light font-weight-bold text-center w-100">
        Promedio mercado laboral
      </div>
      <div class="card-body w-100 d-flex align-items-center p-5">
        <div class="accordion w-100" id="accordion1">

          <div class="card">
            <div class="card-header" id="header1">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between p-0 collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Desarrollador Backend <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$60.523 COP</a></span>
              </button>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="header1" data-parent="#accordion1" style="">
              <div class="card-body">
                Es responsable de diseñar, construir y mantener el servidor de tu aplicación.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header2">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Especialista BI <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$31.250 COP</a></span>
              </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#accordion1">
              <div class="card-body">
                A cargo de desarrollar, desplegar y mantener interfaces de Inteligencia de negocios.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header3">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Científico de datos <span class="badge badge-pill badge-danger"><a class="m-0 lead" href="">$56.070 COP</a></span>
              </button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#accordion1">
              <div class="card-body">
                Diseña y ejecuta todos los procesos necesarios para explotar la información.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header4">
              <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Tester <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$21.605 COP</a></span>            
              </button>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="header4" data-parent="#accordion1">
              <div class="card-body">
                Encuentra bugs, errores, defectos o cualquier problema del aplicativo.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="header5">
                <button class="btn btn-link btn-block text-left d-flex justify-content-between collapsed p-0" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  Desarrollador Frontend <span class="badge badge-pill badge-danger"><a href="" class="m-0 lead">$38.650 COP</a></span>
                </button>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#accordion1">
              <div class="card-body">
                Diseña y desarrolla la interfaz del usuario o <i>front-end</i>.
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card-footer text-center text-light w-100">
        <h5 class="display-5">Más de $200.000 COP / hora</h5> 
      </div>
    </div>
    <img src="{{ url_for('static', filename='img/svg/versus.svg') }}" alt="" class="img-fluid" id="vsicon" style="width: 5em; z-index: 999;">
    <div class="card h-100" id="price_2">
      <div class="card-body text-light bg-dark flex-column justify-content-center px-5 d-flex align-items-center text-center">
        <img class="img-fluid" style="height: 4em;" src="{{ url_for('static', filename='img/analitica-logo-md/rosa.png') }}" alt="">
        <h4 class="display-5">¡Ahorra más del 80%!</h4>
      </div>
      <div class="card-footer text-center text-light w-100">
        <h1 class="display-5">$40.000 COP / Hora</h1>
      </div>
    </div>
  </div>
</section>
<hr class="my-0 mx-5">
<section class="text-center" id="processing" style="height: 100vh; margin-top: 10vh;">
  <div class="flex-column px-5 h-100 justify-content-center align-items-center text-center">
    <h5 class="display-5 text-left ml-5 text-muted" style="font-weight: 600 !important;">Inicia con Analítica</h5>
    <h2 class="display-5 text-left ml-5" style="margin-bottom: 30vh;  font-weight: 600 !important;">Este es nuestro proceso de creación</h2>
    <div id="carousel1" class="carousel mx-auto w-75 slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="d-flex align-items-end active">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/009-trust.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Acuerdo</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="1" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/019-purpose.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Cotización</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="2" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/006-advice.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Aprobación</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="3" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/012-success.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Resultado</span>
          </div>
        </li>
        <li data-target="#carousel1" data-slide-to="4" class="d-flex align-items-end">
          <div class="flex-column justify-content-center align-items-center w-100 d-flex">
            <div class="icon_item"><img src="{{url_for('static', filename='img/svg/018-strong.svg')}}" alt=""></div>
            <span class="bg-dark text-light">Monitoreo</span>
          </div>
        </li>
      </ol>
      <div class="carousel-inner mx-auto w-100">
        <div class="carousel-item align-items-center justify-content-center active">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-right">
                <h4 class="display-5 p-0">
                  Analítica y tú se conocen
                </h4>
                <p class="text-muted p-0"  style="font-size: larger !important;">
                  Uno de nuestros agentes comerciales se encargará de ponerse en contacto contigo.
                </p>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 w-100 h-100 d-block" src="{{ url_for('static', filename='img/svg/team_1.svg') }}" alt="first">
              </div>
            </div>
          </div> 
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/plan_1.svg') }}" alt="first">
              </div>              
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-left">
                <h4 class="display-5">
                  Te entregaremos el plan de trabajo
                </h4>
                <p class="text-muted" style="font-size: larger !important;">
                  después de una rápida sesión de contexto, recibirás el costo del proyecto y los térmios y condiciones del servicio.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 text-right">
                <h4 class="display-5">
                  Esperaremos tu aprobación
                </h4>
                <p class="text-muted" style="font-size: larger !important;">
                  Podrás revusar los últimos detalles del plan de trabajo y una vez aprobado,
                  ¡pondremos manos a la obra!
                </p>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/approval_1.svg') }}" alt="first">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body p-0 align-items-center justify-content-center">
                <img class="img-fluid m-0 mx-auto d-block"  style="height: 10em;" src="{{ url_for('static', filename='img/svg/analytics_1.svg') }}" alt="first">
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body text-left">
                <h4 class="display-5">
                  Recibirás el resultado.
                </h4>
                <p class="text-muted">
                  Estarás tan involucrado como quieras durante este proceso.
                </p>
              </div>
            </div>
          </div>                      
        </div>
        <div class="carousel-item">
          <div class="card-deck">
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body text-right">
                <h4 class="display-5">Toma las riendas de tu negocio y enfoca a tu equipo en la dirección correcta</h4>
              </div>
            </div>
            <div class="card" style="border: 0 !important; background: none !important;">
              <div class="card-body">
                <img class="img-fluid m-0 d-block" src="{{ url_for('static', filename='img/svg/woman_1.svg') }}" alt="first">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-0 mx-5">

<section id="ourservices">

  <!--workflow-->
  <div class="card-deck px-5 my-5">
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush m-0 p-0">
        <li class="list-group-item text-center">
          <img class="img-fluid" style="height: 5em;" src="{{ url_for('static', filename='img/flaticon/robotic.svg') }}" alt="">
          <h3 class="mt-3 display-5">Automatización de procesos</h3>
          <div class="text-muted">Diseñamos, desarrollamos y desplegamos flujos de trabajo automatizados totalmete personalizados y en tiempo real.</div>
        </li>
      </ul>
    </div>
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-code fa-2x"></i><br>
          <p class="lead">Sin código</p>
          <p>Monitorea tus resultados sin escribir una sola línea de código</p>
        </li>
        <li class="list-group-item">
          <i class="fas  fa-user-check fa-2x"></i><br>
          <p class="lead">Formularios web</p>
          <p>Crea formularios totalmente personalizados y úsalos desde nuestra app clientes.</p>
        </li>
      </ul>
    </div>
    <div class="card m-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-project-diagram fa-2x"></i><br>
          <p class="lead">Variedad de integraciones</p>
          <p>Sin importar la fuente de tus datos, crearemos la manera de integrarlo a tu nuevo proceso.</p>
        </li>
        <li class="list-group-item">
          <i class="fas fa-cloud fa-2x"></i><br>
          <p class="lead">Arquitectura expandible</p>
          <p>Todo nuestros servicios se encuentran desplegados en la nube.</p>
        </li>
        <li class="list-group-item">
          <i class="fas fa-chart-line fa-2x"></i><br>
          <p class="lead">Analítica en tiempo real</p>
          <p>Obtén métricas rápidas en tiempo real totalmente gratis.</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- datascience -->
  <div class="card-deck px-5 my-5">
    <div class="card m-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-project-diagram fa-2x"></i><br>
          <p class="lead">Pronósitcos y analítica predictiva</p>
          <p>Usaremos tus datos actuales para determinar qué va a suceder después.</p>
        </li>
        <li class="list-group-item">
          <i class="fas fa-cloud fa-2x"></i><br>
          <p class="lead">Los mejores lenguajes de programación</p>
          <p>Python, R, Scala, Javascript y Julia, son nuestros lenguajes de programación preferidos y también los mejores en ciencia de datos.</p>
        </li>
        <li class="list-group-item">
          <i class="fas fa-chart-line fa-2x"></i><br>
          <p class="lead">Reportes totalmente personalizados</p>
          <p>Escoge las visuales y tipos de gráfico que prefieras.</p>
        </li>
      </ul>
    </div>
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-code fa-2x"></i><br>
          <p class="lead">Tus datos seguros</p>
          <p>Encriptación de extremo a extremo (End-to-end) para proteger tus datos</p>
        </li>
        <li class="list-group-item">
          <i class="fas fa-user-check fa-2x"></i><br>
          <p class="lead">Machine learning e inteligencia artificial</p>
          <p>Optimizamos los procesos de aprendizaje y análisis de datos que requiera tu proyecto con metodologías avanzadas para asegurar la confiabilidad de tus resultados.</p>
        </li>
      </ul>
    </div>
    <div class="card m-0 justify-content-center">
      <ul class="list-group list-group-flush m-0 p-0">
        <li class="list-group-item text-center">
          <img class="img-fluid" style="height: 5em;" src="{{ url_for('static', filename='img/flaticon/analytics.svg') }}" alt="">
          <h3 class="mt-3 display-5">Soluciones en ciencia de datos</h3>
          <div class="text-muted">Explota al máximo tus datos a través de nuestras avanzadas técnicas de análisis de datos y poderosas visualizaciones.</div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="contactus"> <!--cambiar-->
  <div class="row h-100 align-items-center text-center justify-content-center">
    <div class="col flex-column">
      <img class="img-fluid w-50" src="{{url_for('static', filename='img/analitica-logo-md/rosa.png')}}" alt="">
      <div class="d-flex w-100 my-4 justify-content-center text-light">
        <i class="fab fa-linkedin fa-2x mx-2"></i>
        <i class="fab fa-github fa-2x mx-2"></i>
        <i class="fab fa-stack-overflow fa-2x mx-2"></i>
      </div>
      <p class="text-light mt-2">
        Copyright &copy; 2021 Analítica,<br>
        Todos los derechos reservados.
      </p>
    </div>
    <div class="col text-center text-light">
      <div class="d-flex w-75 mx-auto justify-content-around">
        <div class="flex-column col-6">          
          <ul class="list-group" style="background: none !important;">            
            <div class="list-group-item p-1" style="background: none !important; border: none !important;">Seguridad y privacidad: </div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Términos de servicio</a></div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Privacidad y protección de datos</a></div>
          </ul>
        </div>
        <div class="flex-column col-6">
          <ul class="list-group" style="background: none !important;">
            <div class="list-group-item p-1" style="background: none !important; border: none !important;">Acerca de Analítica:</div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Historia</a></div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; FAQ</a></div>
          </ul>
        </div>
        <div class="flex-column col-6">
          <ul class="list-group" style="background: none !important;">
            <div class="list-group-item p-1" style="background: none !important; border: none !important;">Servicios:</div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Automatización de procesos</a></div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Análisis de datos</a></div>
            <div class="list-group-item p-1" style="background: none !important; border: none !important;"><a href="">&diams; Inteligencia de negocios</a></div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <form action="" class="form py-4 px-5">
        <div class="form-group">
          <input type="text" name="name" class="form-control form-control-sm shadow-none" placeholder="Tu nombre" lang="es" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control form-control-sm shadow-none" placeholder="Correo electrónico" lang="es" required>
        </div>
        <div class="form-group">
          <input type="text" name="company_name" class="form-control form-control-sm shadow-none" placeholder="Nombre de tu empresa" lang="es" required>
        </div>
        <div class="form-group">
          <input type="tel" name="phone" class="form-control form-control-sm shadow-none" placeholder="Teléfono" lang="es" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-light btn-sm shadow-none">Enviar</button>
        </div>
      </form>
    </div>
  </div>  
</section>
{% endblock %}