{% extends "base.html" %}
{% block header %}
Nuestros paquetes
{% endblock %}
{% block content %}
<section style="margin-top: 20vh;">
    <div class="flex-column px-5">
        <h4 class="dislay-1" style="font-weight: 600;">
            INFORMACIÓN ACERCA DE NUESTROS PLANES
        </h4>
        <h6 class="text-muted">
            <i>
                TÉRMINOS DE LOS PAQUETES DE MEMBRESÍA
            </i>        
        </h6>    
        <p>
            Su membresía de ANALITICA continuará durante la vigencia del paquete seleccionado (6 meses o 1 año). 
            Ciertas membresías tienen condiciones y limitaciones diferentes que se aclaran en el acuerdo de suscripción o en otras comunicaciones. Podrá encontrar la información específica sobre su membresía de ANALITICA visitando nuestro sitio web y haciendo clic en el vínculo “Cuenta”, disponible en la parte superior de las páginas bajo su nombre de perfil.
            Los paquetes de membresía son:
        </p>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete básico:</p>
                <p>
                    Hasta 5 (cinco) cuentas básicas: Se contempla como usuario básico aquel que disponga del  registro de una cuenta para el uso del aplicativo (estos tienen acceso al proyecto al cual están registrados  con su respectivo contenido).
                    Hasta 1 (una) cuenta profesional: Se contempla como profesional aquel usuario con capacidades jerárquicas dentro el aplicativo (aquel que pueda cambiar  ciertas características del proyecto según la versión vigente).
                    1 (una) actualización diaria: se contempla como actualización al refrescar la información que los modelos de datos contienen (hora pactada previamente con el cliente) en caso de no ser especificada se realizará actualización  periódica a las 07:00 AM COT).
                    Hasta 1 (un) formulario nativo: Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo), el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto.
                    Hasta 2 (dos) cambios menores (después del periodo de estabilización): Se contempla como cambios menores aquellos que son únicamente cambios en la capa visual  sin alterar el contenido, código o desarrollo previo. el periodo se cumple una vez finalizado el 10% del tiempo destinado al proceso de estabilización. 
                    Modelos estadísticos descriptivos: Se entienden como los modelos en donde se  analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes.
                </p>
            </li>
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete profesional:</p>
                <p>
                    Hasta 2 (dos) cuentas profesionales: Se contempla como cuenta profesional aquel usuario con capacidades jerárquicas dentro del aplicativo (aquel que pueda cambiar  ciertas características del proyecto según la versión vigente).
                    Hasta 10 (diez) cuentas básicas: Se contempla como usuario básico aquel que disponga del  registro de una cuenta para el uso del aplicativo. Estos tienen acceso al proyecto al cual están registrados  con su respectivo contenido (hasta donde limitan las cuentas profesionales).
                    Actualizaciones diarias <b>(*)</b>:  Los datos se refrescarán cada cuanto el cliente lo requiera o hasta el número máximo de actualizaciones recomendadas para la instancia tratada.
                    Hasta 5 (cinco) formularios nativos: Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo, el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto.
                    Hasta 5 (cinco) cambios menores después del periodo de estabilización: Se contempla como cambios menores aquellos que son únicamente cambios en la capa visual  sin alterar el contenido, código o desarrollo previo. Se establece una vez finalizado el 10% del tiempo destinado al proceso de estabilización.  
                    Desde modelos estadísticos descriptivos Se entienden como los modelos en donde se  analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes) hasta modelos estadísticos predictivos(se entienden como los modelos que se usan para identificar la probabilidad de resultados futuros basados en datos históricos. El objetivo es llegar más allá de saber lo que ha sucedido para proveer la mejor evaluación de lo que sucederá en el futuro).
                </p>            
            </li>
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete empresarial</p>
                <p>
                    Hasta 10 (diez) cuentas profesionales: Se contempla como cuenta profesional aquel usuario con capacidades jerárquicas dentro del aplicativo (aquel que pueda cambiar  ciertas características del proyecto según la versión vigente).
                    Hasta 100 (cien) cuentas básicas: Se contempla como usuario básico aquel que disponga del  registro de una cuenta para el uso del aplicativo. Estos tienen acceso al proyecto al cual están registrados  con su respectivo contenido (hasta donde limitan las cuentas profesionales).
                    Datos actualizados en tiempo real: Los datos se refrescaran en tiempo real o cada vez que el usuario lo requiera contemplando X como la o las horas pactadas con el cliente.
                    Hasta 10 (diez) formularios nativos: Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo, el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto).
                    Garantía permanente cambios menores después del periodo de estabilización: Se contempla como cambios menores aquellos que son únicamente cambios en la capa visual  sin alterar el contenido, código o desarrollo previo). Se establece una vez finalizado el 10% del tiempo destinado al proceso de estabilización.
                    Analítica prescriptiva: Se entienden como los modelos en donde se  analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes). Modelos estadísticos predictivos(se entienden como los modelos que se usan para identificar la probabilidad de resultados futuros basados en datos históricos. El objetivo es llegar más allá de saber lo que ha sucedido para proveer la mejor evaluación de lo que sucederá en el futuro). Hasta modelos estadísticos prescriptivos (Esencialmente predicen futuros múltiples y permiten a las empresas evaluar una serie de posibles resultados en base a sus acciones. La analítica prescriptiva utiliza una combinación de técnicas y herramientas Estas técnicas se aplican a las aportaciones de diferentes conjuntos de datos, incluyendo los datos históricos y transaccionales, alimentándose de datos en tiempo real y de grandes volúmenes de datos).
                </p>
            </li>
        </ul>            
    </div>
</section>
{% endblock %}