{% extends "base.html" %}
{% block header %}
Nuestros paquetes
{% endblock %}
{% block content %}
<section style="margin-top: 20vh;">
    <div class="flex-column px-5">
        <h4 class="dislay-1" style="font-weight: 600;">
            INFORMACIÓN ACERCA DE NUESTROS PLANES
        </h4>
        <h6 class="text-muted">
            <i>
                Fecha de actualización: 09 de mayo de 2021
            </i>        
        </h6>    
        <p>
            *El costo del paquete de membresía seleccionado es adicional al costo de tu proyecto con Analítica.
            Su membresía de ANALITICA continuará durante la vigencia del paquete seleccionado (6 meses o 1 año). Ciertas membresías tienen condiciones y limitaciones diferentes que se aclaran en el acuerdo de suscripción o en otras comunicaciones. Podrá encontrar la información específica sobre su membresía de ANALITICA visitando nuestro sitio web y haciendo clic en el vínculo “Cuenta”, disponible en la parte superior de las páginas bajo su nombre de perfil. Los paquetes de membresía son:
        </p>
        <ul class="list-group">
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete básico:</p>
                <p>
                    <b>Hasta 1 (una) cuenta profesional:</b> Se contempla como profesional aquel usuario con capacidades jerárquicas dentro el aplicativo (aquel que pueda cambiar ciertas características del proyecto según la versión vigente).
                    <b>Hasta 5 (cinco) cuentas básicas: </b> Se contempla como usuario básico aquel que disponga del registro de una cuenta para el uso del aplicativo (estos tienen acceso al proyecto al cual están registrados con su respectivo contenido).
                    <b>Hasta 1 (una) actualización diaria: </b> Se contempla como actualización al refrescar la información que los modelos de datos contienen (hora pactada previamente con el cliente) en caso de no ser especificada se realizará actualización periódica a las 07:00 AM COT). 
                    <b>Hasta 1 (un) formulario nativo:</b> Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo), el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto. 
                    <b>Hasta 2 (dos) cambios menores (después del periodo de estabilización): </b>Se contempla como cambios menores aquellos que son únicamente visibles en la capa visual sin alterar el contenido, código o desarrollo previo. El periodo se cumple una vez finalizado el 10% del tiempo destinado al proceso de estabilización. 
                    <b>Modelos estadísticos descriptivos: </b> Se entienden como los modelos aquellos que analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes
                </p>
            </li>
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete profesional:</p>
                <p>
                    <b>Hasta 2 (dos) cuentas profesionales:</b> Se contempla como cuenta profesional aquel usuario con capacidades jerárquicas dentro del aplicativo (aquel que pueda cambiar ciertas características del proyecto según la versión vigente).
                    <b>Hasta 10 (diez) cuentas básicas: </b> Se contempla como usuario básico aquel que disponga del registro de una cuenta para el uso del aplicativo. Estos tienen acceso al proyecto al cual están registrados con su respectivo contenido (hasta donde limitan las cuentas profesionales). 
                    <b>Actualizaciones diarias (*): </b> Los datos se refrescarán cada cuanto el cliente lo requiera (como la o las horas pactadas con el cliente).
                    <b>Hasta 5 (cinco) formularios nativos: </b>Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo, el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto. 
                    <b>Hasta 5 (cinco) cambios menores (después del periodo de estabilización): </b> Se contempla como cambios menores aquellos que son únicamente visibles en la capa visual sin alterar el contenido, código o desarrollo previo. Se establece una vez finalizado el 10% del tiempo destinado al proceso de estabilización. 
                    <b>Procesamiento del lenguaje natural: </b> Inteligencia artificial que ayuda a las computadoras a entender, interpretar y manipular el lenguaje humano.                    
                    <b>Machine Learning (ML): </b> Desarrollo de inteligencia artificial dirigida a través de algoritmos para que los modelos puedan desarrollar tareas y analizar datos en forma automatizada.
                    <b>Desde modelos estadísticos descriptivos: </b> Se entienden como los modelos en donde se analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes). 
                    <b>Hasta modelos estadísticos predictivos: </b> Se entienden como los modelos que se usan para identificar la probabilidad de resultados futuros basados en datos históricos. El objetivo es llegar más allá de saber lo que ha sucedido para proveer la mejor evaluación de lo que sucederá en el futuro.
                </p>            
            </li>
            <li class="list-group-item">
                <p class="lead" style="font-weight: 600;">Paquete empresarial</p>
                <p>
                    <b>Datos actualizados y analítica en tiempo real: </b>Los datos se refrescarán en tiempo real o cada vez que el usuario lo requiera (como la o las horas pactadas con el cliente).
                    <b>Hasta 10 (diez) formularios nativos:</b> Se define como el formulario nativo al que se desarrolla y se despliega dentro del ambiente del aplicativo, el cual es seleccionado para la automatización de procesos dependiendo del requerimiento establecido previamente en el costo del proyecto). 
                    <b>Garantía permanente cambios menores después del periodo de estabilización: </b> Se contempla como cambios menores aquellos que son únicamente visibles en la capa visual sin alterar el contenido, código o desarrollo previo). Se establece una vez finalizado el 10% del tiempo destinado al proceso de estabilización.
                    <b>Desarrollo de microservicios: </b> Se le da un enfoque arquitectónico al modelo, compuesto por pequeños servicios independientes que se comunican entre ellos a través de API bien definidas.
                    <b>Arquitectura completa en la nube: </b> Se despliega el modelo en totalidad en microservicios de la nube para mantener su estabilidad, rentabilidad, seguridad y flexibilidad.
                    <b>Analítica descriptiva: </b> Se entienden como los modelos en donde se analizan los datos y la información para describir la situación actual de los negocios de una manera que las tendencias, patrones y excepciones se hacen evidentes. 
                    <b>Modelos estadísticos predictivos: </b> se entienden como los modelos que se usan para identificar la probabilidad de resultados futuros basados en datos históricos. El objetivo es llegar más allá de saber lo que ha sucedido para proveer la mejor evaluación de lo que sucederá en el futuro. 
                    <b>Hasta modelos estadísticos prescriptivos: </b> Esencialmente predicen futuros múltiples y permiten a las empresas evaluar una serie de posibles resultados en base a sus acciones. La analítica prescriptiva utiliza una combinación de técnicas y herramientas, estas técnicas se aplican a las aportaciones de diferentes conjuntos de datos, incluyendo los datos históricos y transaccionales, alimentándose de datos en tiempo real y de grandes volúmenes de datos.

                </p>
            </li>
        </ul>            
    </div>
</section>
{% endblock %}